<section id="services">
  <h2
    class="m2000"
    id="greeting">{{greeting}}</h2>
  <p>{{content}}</p>
  <p class="no-text">{{services.intro}}</p>
  <ul>
    {{#services.items}}
    <li>{{.}}</li>
    {{/services.items}}
  </ul>
  <p class="no-text">{{cta}}</p>
  {{> social-nav}}
</section>
