<section id="projects">
  <h2
    class="m2000"
    id="greeting"
    >{{heading}}</h2>
  <ol class="p0 m0" id="projects-list">
    {#items}
      <li class="item">
        <script type="application/ld+json" src="{{schema}}"></script>
        <h4 class="m-column-d-row">
          <time class="daterange fixed-flex" datetime="{{date.iso}}">{{date.text}}</time>
        {{#href}}
        <a class="project-link"
          href="{{href}}"
          target="_blank"
          id="hooks"
          rel="noopener"
          title="{{hint}}"
          data-vars-project="{{project}}">{{title}}</a>
        {{/href}}
        {{^href}}
          {{title}}
        {{/^href}}
        </h4>
        <p class="m0">{{description}}</p>
      <ul class="m1000 p0 horizontal-list">
        {{#links}}
          <li>
            {{#schema}}
              <script src="{{schema}}" type="application/ld+json"></script>
            {{/schema}}
            <a href="{{href}}"
              target="_blank"
              class="project-link fixed-flex"
              rel="noopener"
              title="{{hint}}"
              data-vars-project="{{project}}">
              {{#svg}}
                <svg
                  src="{{svg.src}}"
                  class="{{svg.class}}">
                </svg>
              {{/svg}}
              {{#img}}
                <amp-img srcset="{{img.src}}"
                  width="24"
                  height="24"
                  layout="responsive"
                  class="icon-small grayscale"
                  alt="{{img.alt}}"></amp-img>
              {{/img}}
            </a>
          </li>
        {{/links}}
      </ul>
    </li>
  </ol>
</section>
