<section id="projects">
  <h2 id="greeting">{{greeting}}</h2>
  <p class="m0020">{{intro}}</p>
  <ol class="p0 m0" id="projects-list">
    {{#items}}
      <li class="item">
        {{#schema}}
          <script type="application/ld+json" src="{{{schema}}}"></script>
        {{/schema}}
        <h4 class="m-column-d-row">
          <time
            class="daterange fixed-flex"
            datetime="{{date.iso}}">{{ date.text }}</time>
        {{#href}}
          <a
            class="project-link"
            href="{{{href}}}"
            target="_blank"
            rel="noopener"
            id="{{project}}"
            title="{{hint}}"
            data-vars-project="{{project}}">{{{title}}}</a>
        {{/href}}
        {{^href}}
          {{title}}
        {{/href}}
        </h4>
        <p class="m0">{{{description}}}</p>
        <ul class="m1000 p0 vcentering horizontal-list">
          {{#links}}
            <li>
              {{#schema}}
                <script type="application/ld+json" src="{{{schema}}}"></script>
              {{/schema}}
              <a
                href="{{{href}}}"
                target="_blank"
                class="project-link fixed-flex"
                rel="noopener"
                title="{{hint}}"
                data-vars-project="{{project}}">
                {{#svg}}
                  <svg
                    src="{{{svg.src}}}"
                    class="{{svg.class}}">
                  </svg>
                {{/svg}}
                {{#img}}
                  <amp-img
                    srcset="{{{img.src}}}"
                    width="24"
                    height="24"
                    layout="responsive"
                    class="icon-small grayscale"
                    alt="{{img.alt}}">
                  </amp-img>
                {{/img}}
              </a>
            </li>
          {{/links}}
        </ul>
      </li>
    {{/items}}
  </ol>
</section>
