<section id="404">
  <h1 id="greeting" class="centering">Sorry, the page you are trying to reach does not exist.</h1>
  <div class="not-found-icon"></div>
  <p class="centering">Please check your URL or return to the <a href="/">Home Page</a>.</p>
</section>
