<section id="404">
  <h1 id="greeting">Sorry, the page you are trying to reach does not exist.</h1>
  <svg class="not-found-icon" viewBox="0 0 100 50">
    <text font-family="'Hack', 'Inconsolata', Courier, mono" x="50%" y="50%" text-anchor="middle" alignment-baseline="middle">404</text>
  </svg>
  <p class="centering">Please check your URL or return to the <a href="/">Home Page</a>.</p>
</section>
