<section id="about" class="flex column m1000">
  <code id="greeting" class="typewriter">Hi there &amp; welcome to my site!</code>
  <code class="typewriter">My name is Hans-Peter Dietz.</code>
  <code class="typewriter">I am a fullstack developer.</code>
  <code class="typewriter">Software Architect.</code>
  <code class="typewriter">UX Guy.</code>
  <code class="typewriter">I build distributed systems.</code>
  <code class="typewriter">Code mostly JavaScript.</code>
  <code class="typewriter">In unixoid environments.</code>
</section>
