<section id="about">
  <h2 id="greeting">Hi there &amp; welcome to my site!</h2>
  <p>My name is Hans-Peter Dietz and I like to think of myself as a <q>fullstack anything coder</q> meaning I neither resort to any one particular programming language nor field when coding. I do, however, prefer <i>unixy</i> environments.</p>
  <p>After finishing my master's degree in <a href="http://mimuc.de" rel="noopener" target="_blank" title="Media Informatics LMU Munich">Media Informatics</a> at Ludwig-Maximilians-University, Munich, I started out doing commisional web and mobile development as well as consulting with <a href="http://jandh.org" rel="noopener" target="_blank" title="J&amp;H">J&amp;H</a>.</p>
  <p>At the moment I am employed as a Software Engineer at <a href="https://check24.de" rel="noopener" title="CHECK24" target="_blank">CHECK24</a> coding mostly fullstack JavaScript with some DevOps and C# on the side. I also help out with native mobile development in times of need.</p>
  <p>In my spare time I play the bass guitar in the post-/progressive rock band <a href="http://watersun.net" rel="noopener" target="_blank" title="Watersun">Watersun</a> and take my motorcycle for a ride. Furthermore, apart from coding my interests expand into electronics and physics.</p>
</section>
