<p class="p01 m0 left">Held weekly tutorials accompanying the following lectures:</p>
<ul class="m1001 p01 no-list" id="cv-lectures-list">
  {{#lectures}}
  <li>
    <h5><a href="{{url}}" target="_blank" rel="noopener">{{name}}</a></h5>
    <p class="p0 m0 small left">{{description}}</p>
  </li>
  {{/lectures}}
</ul>
