<section id="cv">
  <h1 id="greeting">Curriculum Vitae</h1>
  <a href="/assets/docs/cv-hpdietz.pdf"
    data-vars-document="CV"
    class="block pdf-download-link small doc-link"
    target="_blank"
    rel="noopener"><svg src="pdf-icon.svg" class="pdf-icon"></svg>View/Download my CV as PDF.</a>
  <section id="vocations">
    <h2>Vocations</h2>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex"
          datetime="2015-10-01">2015&nbsp;- PRSNT</time>
        <a href="https://check24.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/check24-logo_1x.jpg 1x, /assets/img/check24-logo_2x.jpg 2x"
            class="company-logo"
            width="120"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Software Engineer, <a href="https://check24.de" target="_blank" rel="noopener">CHECK24</a>, Munich</h4>
        <p class="p0 m0 left">Fullstack JavaScript developer and DevOps in the animal insurance team.</p>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2014-06-01">2014&nbsp;- 2016</time>
        <a href="http://jandh.org"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/jandh-logo_1x.jpg 1x, /assets/img/jandh-logo_2x.jpg 2x"
            class="company-logo"
            width="96"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">CEO &amp; CTO, <a href="http://jandh.org" target="_blank" rel="noopener">J&amp;H</a>, Freising</h4>
        <p class="p0 m0 left">Commisional web and native mobile development, as well as UX consulting.</p>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2011-10-01">2011&nbsp;- 2014</time>
        <a href="http://www.medien.ifi.lmu.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/lmu-logo_1x.jpg 1x, /assets/img/lmu-logo_2x.jpg 2x"
            class="company-logo"
            width="101"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Student assistant, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">LFE Media Informatics, Ludwig-Maximilans-University</a>, Munich</h4>
        <p class="p0 m0 left">Held weekly tutorials accompanying the following lectures:</p>
        <ul class="m1001 p01 no-list" id="cv-lectures-list">
          <li>
            <h5><a href="http://www.medien.ifi.lmu.de/lehre/ws1112/dm/" target="_blank" rel="noopener">Digital Multimedia</a></h5>
            <p class="p0 m0 small left">Fundamental concepts of digital multimedia.</p>
          </li>
          <li>
            <h5><a href="http://www.medien.ifi.lmu.de/lehre/ss12/mmp/" target="_blank" rel="noopener">Multimedia Programming</a></h5>
            <p class="p0 m0 small left">Developing multimedia applications and games using Python and JavaFX.</p>
          </li>
          <li>
            <h5><a href="http://www.medien.ifi.lmu.de/lehre/ws1213/mmn/" target="_blank" rel="noopener">Online Multimedia</a></h5>
            <p class="m0 p0 small left">Technical concepts and implementation of websites and webservices using PHP, JavaScript, JQuery, Prototype and JBoss/JSF/JSP.</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2008-10-01">2008&nbsp;- 2010</time>
        <a href="http://efdis.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/efdis-logo_1x.jpg 1x, /assets/img/efdis-logo_2x.jpg 2x"
            class="company-logo"
            height="48"
            width="78"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Working student, <a href="http://efdis.de" target="_blank" rel="noopener">Efidis AG</a>, Freising</h4>
        <p class="p0 m0 left">Working student in software development.</p>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time datetime="2007-10-01" class="daterange fixed-flex">2007</time>
        <a href="https://www.bmwgroup.com"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/bmw-group-logo_1x.jpg 1x, /assets/img/bmw-group-logo_2x.jpg 2x"
            class="company-logo"
            height="48"
            width="96"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Working student, <a href="https://www.bmwgroup.com" target="_blank" rel="noopener">BMW Group</a>, Munich</h4>
        <p class="p0 m0 left">Working student in taxes/national.</p>
      </div>
    </section>
  </section>
  <section id="education">
    <h2>Education</h2>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2010-10-01">2010&nbsp;- 2014</time>
        <a href="http://www.medien.ifi.lmu.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/lmu-logo_1x.jpg 1x, /assets/img/lmu-logo_2x.jpg 2x"
            class="company-logo"
            width="101"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Master of Science, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">Media Informatics, Ludwig-Maximilians-University</a>, Munich</h4>
        <section class="m0001">
          <h5>Focus areas:</h5>
          <p class="p01 m0010 left">User experience, security, distributed computing, web and mobile applications.</p>
          <h5>Master Thesis:</h5>
          <p class="p01 m0010 left">Ask The Crowd: Crowdsourcing Knowledge Generation.</p>
        </section>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2007-10-01">2007&nbsp;- 2010</time>
        <a href="http://www.medien.ifi.lmu.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/lmu-logo_1x.jpg 1x, /assets/img/lmu-logo_2x.jpg 2x"
            class="company-logo"
            width="101"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Bachelor of Science, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">Media Informatics, Ludwig-Maximilians-University</a>, Munich</h4>
        <section class="m0001">
          <h5>Focus areas:</h5>
          <p class="p01 m0010 left">Human computer interaction, multimedia, software development.</p>
          <h5>Secondary subject:</h5>
          <p class="p01 m0010 left">Media business studies.</p>
          <h5>Bachelor Thesis:</h5>
          <p class="p01 m0010 left"> Supporting association, reminiscing and social discovery in a music player.</p>
        </section>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2006-09-01">2006&nbsp;- 2007</time>
        <a href="http://www.agrar.wzw.tum.de/"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/tum-logo_1x.jpg 1x, /assets/img/tum-logo_2x.jpg 2x"
            class="company-logo"
            width="91"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Student of <a href="http://www.agrar.wzw.tum.de/" rel="noopener" target="_blank">Horticultural Science, Technical University</a>, Munich</h4>
      </div>
    </section>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="1997-06-01">1997&nbsp;- 2006</time>
        <a href="http://www.gwsg.net/"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/gwsg-logo_1x.jpg 1x, /assets/img/gwsg-logo_2x.jpg 2x"
            class="company-logo"
            width="51"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">A-Levels, <a href="http://www.gwsg.net/" target="_blank" rel="noopener">Georg-Wilhelm-Steller-Gymnasium</a>, Bad Windsheim</h4>
      </div>
    </section>
  </section>
  <section id="certifications">
    <h2>Certifications</h2>
    <section class="item p01 m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2009-10-01">2009</time>
        <a href="https://www.tuev-sued.de/management-systeme/it-dienstleistungen/iso-20000"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/itsm-iso20000-logo_1x.jpg 1x, /assets/img/itsm-iso20000-logo_2x.jpg 2x"
            class="company-logo"
            width="48"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010"><a href="https://www.tuev-sued.de/management-systeme/it-dienstleistungen/iso-20000" target="_blank" rel="noopener">Foundation Certificate in IT Service Management according to ISO/IEC 20000</a></h4>
      </div>
    </section>
  </section>
  <section id="skills">
    <h2>Technical Skills</h2>
    <p class="small m10">The following listings represent non-exclusive excerpts of technologies I have worked with...</p>
    <section class="item p01 m0">
      <h4>Operating Systems</h4>
      <ul class="m0 p0 no-list horizontal-list">
        <li class="flex-column-centering">
          <svg src="android-icon.svg"
            class="icon android-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering w5">Android</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="ios-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">iOS</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="tux-icon.svg"
            class="icon tux-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Linux</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="osx-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">OSX</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Programming Languages &amp; Frameworks</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering m0010 w5">
          <svg src="amp-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">AMP</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="android-icon.svg"
            class="icon android-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Android</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="angular-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Angular.js</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="terminal-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bash</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="bootstrap-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bootstrap</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="c-icon.svg"
            class="icon c-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">C</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="cpp-icon.svg"
            class="icon cpp-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">C++</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="csharp-icon.svg"
            class="icon csharp-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">C#</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="css-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">CSS</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="javascript-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">EcmaScript 5&nbsp;&amp;&nbsp;6</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="express-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Express</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="golang-icon.svg"
            class="icon golang-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Go</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="html5-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">(X)HTML(5)</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="java-icon.svg"
            class="icon java-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Java</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="jquery-icon.svg"
            class="icon jquery-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">jQuery</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="less-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Less</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="mithril-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Mithril</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="nodejs-icon.svg"
            class="icon nodejs-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Node.js</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="objectivec-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Objective-C</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="passport-icon.svg"
            class="icon m0010 passport-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Passport</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="php-icon.svg"
            class="icon php-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">PHP</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="pygame-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Pygame</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="python-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Python</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="react-icon.svg"
            class="icon react-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">React</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="redux-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Redux</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="riot-icon.svg"
            class="icon riot-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Riot.js</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="slimphp-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Slim</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="xml-icon.svg"
            class="icon xml-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">XML</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Test &amp; behaviour driven development (TDD/BDD)</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="bamboo-icon.svg"
            class="icon m0010 bamboo-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bamboo</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="chai-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Chai</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="cucumber-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Cucumber.js</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="jasmine-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Jasmine</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="karma-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Karma</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="mocha-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Mocha</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="nock-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Nock</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="protractor-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Protractor</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="pytest-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">pytest</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="selenium-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Selenium</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="sinon-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Sinon.js</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Database Systems</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="mongodb-icon.svg"
            class="icon m0010 mongodb-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">MongoDB</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="mysql-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">MySQL</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="postgresql-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">PostgreSQL</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="sqlite-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">SQLite</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Web Servers</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="apache-icon.svg"
            class="icon m0010 apache-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Apache</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="nodejs-icon.svg"
            class="icon m0010 nodejs-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Node.js</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="nginx-icon.svg"
            class="icon m0010 nginx-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Nginx</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Continuous Integration &amp; Delivery</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="ansible-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Ansible</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="bamboo-icon.svg"
            class="icon m0010 bamboo-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bamboo</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="terminal-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bash</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="docker-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Docker</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="grunt-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Grunt</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="gulp-icon.svg"
            class="icon gulp-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Gulp</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="make-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">make</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="webpack-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Webpack</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>DevOps</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="ansible-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Ansible</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="terminal-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bash</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="docker-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Docker</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="tux-icon.svg"
            class="icon tux-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Linux</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="vagrant-icon.svg"
            class="icon m0010 vagrant-icon-solid"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Vagrant</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="virtualbox-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">VirtualBox</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Processes</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="kanban-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Kanban</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="scrum-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">SCRUM</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Architecture &amp; Modelling</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="er-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">ER</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="uml-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">UML</h5>
        </li>
      </ul>
    </section>
    <section class="item p01 m0">
      <h4>Version Control</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="git-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">git</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="svn-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">SVN</h5>
        </li>
      </ul>
    </section>
    <section class="item p01">
      <h4>Development Environments</h4>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="android-studio-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Android Studio</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="vim-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Vim</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="xcode-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">XCode</h5>
        </li>
      </ul>
    </section>
  </section>
  <section id="languages">
    <h2><i>(Spoken)</i> Languages</h2>
    <section class="item p01 row vcentering">
      <svg src="flag-german.svg"
        class="icon m0"
        width="48"
        height="48"></svg>
      <h4 class="m0001">German</h4>
      <span class="text m0001">Mothertongue</span>
    </section>
    <section class="item p01 row vcentering">
      <svg src="flag-us.svg"
        class="icon m0"
        width="48"
        height="48"></svg>
      <h4 class="m0001">English</h4>
      <span class="text m0001">Fluent</span>
    </section>
    <section class="item p01 row vcentering">
      <svg src="flag-french.svg"
        class="icon m0"
        width="48"
        height="48"></svg>
      <h4 class="m0001">French</h4>
      <span class="text m0001">Basics</span>
    </section>
  </section>
  <a href="/assets/docs/cv-hpdietz.pdf"
    class="block pdf-download-link small doc-link"
    data-vars-document="CV"
    target="_blank"
    rel="noopener"><svg class="pdf-icon" src="pdf-icon.svg"></svg>View/Download my CV as PDF.</a>
</section>
