<section id="cv"
  class="p1">
  <h2 id="greeting">Curriculum Vitae</h2>
  <a href="/assets/docs/cv-hpdietz.pdf"
    data-vars-document="CV"
    class="block pdf-download-link small doc-link"
    target="_blank"
    rel="noopener"><svg src="pdf-icon.svg" class="pdf-icon"></svg>View/Download my CV as PDF.</a>
  <h2>Experience</h2>
  <h3>Vocational</h3>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2015-10-01">2015&nbsp;- present</time>
      <span>Software Engineer, <a href="https://check24.de" target="_blank" rel="noopener">CHECK24</a>, Munich</span>
    </h4>
    <p class="p01 m0 left">Fullstack JavaScript developer and DevOps in the animal insurance team.</p>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2014-06-01">2014&nbsp;- 2016</time>
      <span>CEO &amp; CTO, <a href="https://jandh.org" target="_blank" rel="noopener">J&amp;H</a>, Freising</span>
    </h4>
    <p class="p01 m0 left">Commisional web and native mobile development, as well as UX consulting.</p>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2011-10-01">2011&nbsp;- 2014</time>
      <span>Student assistant, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">LFE Media Informatics, Ludwig-Maximilans-University</a>, Munich</span>
    </h4>
    <p class="p01 m0 left">Held weekly tutorials accompanying the following lectures:</p>
    <ul class="m1001 p01 no-list" id="cv-lectures-list">
      <li>
        <h5><a href="http://www.medien.ifi.lmu.de/lehre/ws1112/dm/" target="_blank" rel="noopener">Digital Multimedia</a></h5>
        <p class="p0 m0 small left">Fundamental concepts of digital multimedia.</p>
      </li>
      <li>
        <h5><a href="http://www.medien.ifi.lmu.de/lehre/ss12/mmp/" target="_blank" rel="noopener">Multimedia Programming</a></h5>
        <p class="p0 m0 small left">Developing multimedia applications and games using Python and JavaFX.</p>
      </li>
      <li>
        <h5><a href="http://www.medien.ifi.lmu.de/lehre/ws1213/mmn/" target="_blank" rel="noopener">Online Multimedia</a></h5>
        <p class="m0 p0 small left">Technical concepts and implementation of websites and webservices using PHP, JavaScript, JQuery, Prototype and JBoss/JSF/JSP.</p>
      </li>
    </ul>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2008-10-01">2008&nbsp;- 2010</time>
      <span>Working student, <a href="http://efdis.de" target="_blank" rel="noopener">Efidis AG</a>, Freising</span>
    </h4>
    <p class="p01 m0 left">Working student in software development.</p>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2007-10-01">2007</time>
      <span>Working student, <a href="https://www.bmwgroup.com" target="_blank" rel="noopener">BMW Group</a>, Munich</span>
    </h4>
    <p class="p01 m0 left">Working student in taxes/national.</p>
  </section>
  <h2>Education</h2>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2010-10-01">2010&nbsp;- 2014</time>
      <span>Master of Science, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">Media Informatics, Ludwig-Maximilians-University, Munich</a></span>
    </h4>
    <div class="m0001">
      <h5>Focus areas:</h5>
      <p class="p01 m0010 left">User experience, security, distributed computing, web and mobile applications.</p>
      <h5>Master Thesis:</h5>
      <p class="p01 m0010 left">Ask The Crowd: Crowdsourcing Knowledge Generation.</p>
    </div>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2007-10-01">2007&nbsp;- 2010</time>
      <span>Bachelor of Science, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">Media Informatics, Ludwig-Maximilians-University, Munich</a></span>
    </h4>
    <div class="m0001">
      <h5>Focus areas:</h5>
      <p class="p01 m0010 left">Human computer interaction, multimedia, software development.</p>
      <h5>Secondary subject:</h5>
      <p class="p01 m0010 left">Media business studies.</p>
      <h5>Bachelor Thesis:</h5>
      <p class="p01 m0010 left"> Supporting association, reminiscing and social discovery in a music player.</p>
    </div>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2006-09-01">2006&nbsp;- 2007</time>
      <span>Student of <a href="http://www.agrar.wzw.tum.de/" rel="noopener" target="_blank">Horticultural Science, Technical University, Munich</a></span>
    </h4>
  </section>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="1997-06-01">1997&nbsp;- 2006</time>
      <span>A-Levels, <a href="http://www.gwsg.net/" target="_blank" rel="noopener">Georg-Wilhelm-Steller-Gymnasium, Bad Windsheim</a></span>
    </h4>
  </section>
  <h3>Certifications</h3>
  <section class="item p01">
    <h4 class="row">
      <time class="daterange fixed-flex" datetime="2009-10-01">2009</time>
      <span>Foundation Certificate in ITSM according to ISO/IEC 20000</span>
    </h4>
  </section>
