<ul class="horizontal-list">
{{#footerMenuItems}}
  {{#active}}
    <li class="active m0">
  {{/active}}
  {{^active}}
    <li class="m0">
  {{/active}}
    <a class="caps text-decoration-none block p1 inactive"
      title="{{title}}"
      data-vars-section="{{name}}"
      href="{{href}}"
      on="tap:AMP.setState({ appState: { site: '{{name}}' }}),burger-menu.close(),greeting.scrollTo(position='bottom',duration=250)">{{name}}</a>
  </li>
{{/footerMenuItems}}
</ul>
