<section id="projects">
  <h1 id="greeting">Projects</h1>
  <ol class="p0 m0" id="projects-list">
    <li class="item">
      <script type="application/ld+json" src="services.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2020-06">2020 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/services"
          target="_blank"
          id="hooks"
          rel="noopener"
          title="Visit @haensl/services on Github"
          data-vars-project="@haensl/services">services</a>
      </h4>
      <a href="https://npmjs.com/package/@haensl/services"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit @haensl/services on npm."
        class="project-link m0010"
        data-vars-project="@haensl/services">
        <amp-img
          src="https://img.shields.io/npm/v/@haensl/services.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/services.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Assorted JavaScript services.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="services.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/services"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit @haensl/services on Github."
            data-vars-project="@haensl/services">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/@haensl/services"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit @haensl/services on npm."
            data-vars-project="@haensl/services">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="hooks.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2020-06">2020 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/hooks"
          target="_blank"
          id="hooks"
          rel="noopener"
          title="Visit @haensl/hooks on Github"
          data-vars-project="@haensl/hooks">hooks</a>
      </h4>
      <a href="https://npmjs.com/package/@haensl/hooks"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit @haensl/hooks on npm."
        class="project-link m0010"
        data-vars-project="@haensl/hooks">
        <amp-img
          src="https://img.shields.io/npm/v/@haensl/hooks.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/hooks.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Assorted <a href="https://reactjs.org"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit React">React</a> hooks.
      </p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="hooks.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/hooks"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit @haensl/hooks on Github."
            data-vars-project="@haensl/hooks">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/@haensl/hooks"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit @haensl/hooks on npm."
            data-vars-project="@haensl/hooks">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="google-optimize-service.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2020-02">2020 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/google-optimize-service"
          target="_blank"
          id="google-optimize-service"
          rel="noopener"
          title="google-optimize-service"
          data-vars-project="google-optimize-service">google-optimize-service</a>
      </h4>
      <a href="https://npmjs.com/package/google-optimize-service"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit google-optimize-service on npm."
        class="project-link m0010"
        data-vars-project="google-optimize-service">
        <amp-img
          src="https://img.shields.io/npm/v/google-optimize-service.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/google-optimize-service.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Highly customizable, dependency-free, universal service abstraction around <a href="https://optimize.google.com"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit Google Optimize">Google Optimize</a>.
      </p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="google-optimize-service.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/google-optimize-service"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit google-optimize-service on Github."
            data-vars-project="google-optimize-service">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/google-optimize-service"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit google-optimize-service on npm."
            data-vars-project="google-optimize-service">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="react-component-console.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2019-02">2019 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/react-component-console"
          target="_blank"
          id="react-component-console"
          rel="noopener"
          title="react-component-console"
          data-vars-project="react-component-console">react-component-console</a>
      </h4>
      <a href="https://npmjs.com/package/react-component-console"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit react-component-console on npm."
        class="project-link m0010"
        data-vars-project="react-component-console">
        <amp-img
          src="https://img.shields.io/npm/v/react-component-console.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/react-component-console.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://reactjs.org"
        target="_blank"
        rel="noopener noreferrer"
        title="React">React</a> component emulating a console terminal. It features human-like typing via dynamic delays, callbacks and customizable CSS classes.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="react-component-console.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/react-component-console"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit react-component-console on Github."
            data-vars-project="react-component-console">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/react-component-console"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit react-component-console on npm."
            data-vars-project="react-component-console">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="rollup-plugin-local-resolve.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2019-02">2019 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/rollup-plugin-local-resolve"
          target="_blank"
          id="rollup-plugin-local-resolve"
          rel="noopener"
          title="rollup-plugin-local-resolve"
          data-vars-project="rollup-plugin-local-resolve">rollup-plugin-local-resolve</a>
      </h4>
      <a href="https://npmjs.com/package/@haensl/rollup-plugin-local-resolve"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit rollup-plugin-local-resolve on npm."
        class="project-link m0010"
        data-vars-project="rollup-plugin-local-resolve">
        <amp-img
          src="https://img.shields.io/npm/v/@haensl/rollup-plugin-local-resolve.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/rollup-plugin-local-resolve.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://rollupjs.org"
        target="_blank"
        rel="noopener noreferrer"
        title="Rollup">Rollup</a> plugin to resolve relative folder imports without explicitly stating the file.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="rollup-plugin-local-resolve.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/rollup-plugin-local-resolve"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit rollup-plugin-local-resolve on Github."
            data-vars-project="rollup-plugin-local-resolve">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/@haensl/rollup-plugin-local-resolve"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit rollup-plugin-local-resolve on npm."
            data-vars-project="rollup-plugin-local-resolve">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="subset-sum.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2019-01">2019 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/subset-sum"
          target="_blank"
          id="subset-sum"
          rel="noopener"
          title="subset-sum"
          data-vars-project="subset-sum">Subset Sum</a>
      </h4>
      <a href="https://npmjs.com/package/@haensl/subset-sum"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit subset-sum on npm."
        class="project-link m0010"
        data-vars-project="subset-sum">
        <amp-img
          src="https://img.shields.io/npm/v/@haensl/subset-sum.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/subset-sum.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Node.js module to compute solutions to the <a href="http://rosettacode.org/wiki/Count_the_coins"
        target="_blank"
        rel="noopener noreferrer"
        title="Coin changing problem">Coin changing problem</a>, i.e. find combinations from a given set of integers that add up to a desired sum.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="subset-sum.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/subset-sum"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit subset-sum on Github."
            data-vars-project="subset-sum">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/@haensl/subset-sum"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit subset-sum on npm."
            data-vars-project="subset-sum">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="log.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-08">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/log"
          target="_blank"
          id="log"
          rel="noopener"
          title="log"
          data-vars-project="log">log</a>
      </h4>
      <a href="https://npmjs.com/package/@haensl/log"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit log on npm."
        class="project-link m0010"
        data-vars-project="log">
        <amp-img
          src="https://img.shields.io/npm/v/@haensl/log.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/log.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Minimal Node.js log service.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="log.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/log"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit log on Github."
            data-vars-project="log">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/@haensl/log"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit log on npm."
            data-vars-project="log">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="assign-reducers.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-08">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/assign-reducers"
          target="_blank"
          id="assign-reducers"
          rel="noopener"
          title="assign-reducers"
          data-vars-project="assign-reducers">assign-reducers</a>
      </h4>
      <a href="https://npmjs.com/package/assign-reducers"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit assign-reducers on npm."
        class="project-link m0010"
        data-vars-project="assign-reducers">
        <amp-img
          src="https://img.shields.io/npm/v/assign-reducers.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/assign-reducers.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://npmjs.com"
        target="_blank"
        title="Visit NPM."
        rel="noopener noreferrer">NPM</a> module to combine <a href="https://redux.js.org/"
          title="Visit Redux website."
          rel="noopener noreferrer"
          target="_blank">Redux</a> reducer functions analogous to <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign"
          title="Object.assign reference"
          rel="noopener noreferrer"
          target="_blank"><code>Object.assign()</code></a>.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="assign-reducers.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/assign-reducers"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit assign-reducers on Github."
            data-vars-project="assign-reducers">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/assign-reducers"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit assign-reducers on npm."
            data-vars-project="assign-reducers">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="js-profiler.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-08">2018 - PRSNT</time>
        <a class="project-link"
          href="https://js-profiler.com"
          target="_blank"
          id="js-profiler.com"
          rel="noopener"
          title="js-profiler.com"
          data-vars-project="js-profiler.com">JS Profiler (website)</a>
      </h4>
      <p class="m0">Collection of performance profiles, benchmarks and comparisons for various JavaScript built-ins. This site is essentially the <a href="#js-profiler-lib">JS Profiler Node.js library</a> brought to live.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <a href="https://js-profiler.com"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit JS Profiler."
            data-vars-project="js-profiler.com">
            <svg src="js-profiler-icon.svg" class="js-profiler-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="beacon-tool-cli.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-07">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/beacon-tool-cli"
          target="_blank"
          rel="noopener"
          title="beacon-tool"
          data-vars-project="beacon-tool-cli">Beacon Tool CLI</a>
      </h4>
      <a href="https://npmjs.com/package/beacon-tool-cli"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit beacon-tool-cli on npm."
        class="project-link m0010"
        data-vars-project="beacon-tool-cli">
        <amp-img
          src="https://img.shields.io/npm/v/beacon-tool-cli.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/beacon-tool-cli.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">CLI for <a href="#beacon-tool">Beacon Tool</a>.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="beacon-tool-cli.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/beacon-tool-cli"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit beacon-tool-cli on Github."
            data-vars-project="beacon-tool-cli">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/beacon-tool-cli"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit beacon-tool-cli on npm."
            data-vars-project="beacon-tool-cli">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="beacon-tool.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-07">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/beacon-tool"
          target="_blank"
          id="beacon-tool"
          rel="noopener"
          title="beacon-tool"
          data-vars-project="beacon-tool">Beacon Tool</a>
      </h4>
      <a href="https://npmjs.com/package/beacon-tool"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit beacon-tool on npm."
        class="project-link m0010"
        data-vars-project="beacon-tool">
        <amp-img
          src="https://img.shields.io/npm/v/beacon-tool.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/beacon-tool.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://nodejs.org"
        target="_blank"
        title="Visit Node.js website."
        rel="noopener noreferrer">Node.js</a> library featuring a collection of Bluetooth beacon signal utility functions.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="beacon-tool.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/beacon-tool"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit beacon-tool on Github."
            data-vars-project="beacon-tool">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/beacon-tool"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit beacon-tool on npm."
            data-vars-project="beacon-tool">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="preact-component-console.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-07">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/preact-component-console"
          target="_blank"
          rel="noopener"
          title="preact-component-console"
          data-vars-project="preact-component-console">preact-component-console</a>
      </h4>
      <a href="https://npmjs.com/package/preact-component-console"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit preact-component-console on npm."
        class="project-link m0010"
        data-vars-project="preact-component-console">
        <amp-img
          src="https://img.shields.io/npm/v/preact-component-console.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/preact-component-console.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">A console/terminal emulator <a href="https://preactjs.com"
        rel="noopener"
        target="_blank"
        title="Visit Preact website.">Preact</a> component. Simulates typing via dynamic delays.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="preact-component-console.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/preact-component-console"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit preact-component-console on Github."
            data-vars-project="preact-component-console">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/preact-component-console"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit preact-component-console on npm."
            data-vars-project="preact-component-console">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="pfs.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-03">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/pfs"
          target="_blank"
          id="pfs"
          rel="noopener"
          title="pfs"
          data-vars-project="pfs">pfs</a>
      </h4>
      <a href="https://npmjs.com/package/@haensl/pfs"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit pfs on npm."
        class="project-link m0010"
        data-vars-project="pfs">
        <amp-img
          src="https://img.shields.io/npm/v/@haensl/pfs.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/pfs.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Lightweigt, dependency-free, promise-wrapper around Node.js'<a href="https://nodejs.org/dist/latest-v12.x/docs/api/fs.html"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit Node.js's fs module documentation">fs</a>.
      </p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="pfs.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/pfs"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit pfs on Github."
            data-vars-project="pfs">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/@haensl/pfs"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit pfs on npm."
            data-vars-project="pfs">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="minify-inline-json.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-03">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/minify-inline-json"
          target="_blank"
          rel="noopener"
          title="minify-inline-json"
          data-vars-project="minify-inline-json">minify-inline-json</a>
      </h4>
      <a href="https://npmjs.com/package/minify-inline-json"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit minify-inline-json on npm."
        class="project-link m0010"
        data-vars-project="minify-inline-json">
        <amp-img
          src="https://img.shields.io/npm/v/minify-inline-json.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/minify-inline-json.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://nodejs.org"
        rel="noopener"
        target="_blank"
        title="Visit Node.js website.">Node.js</a> module to minify inlined/embedded JSON data within <code>script</code> tags.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="minify-inline-json.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/minify-inline-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit minify-inline-json on Github."
            data-vars-project="minify-inline-json">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/minify-inline-json"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit minify-inline-json on npm."
            data-vars-project="minify-inline-json">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="embed-json.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-03">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/embed-json"
          target="_blank"
          rel="noopener"
          title="embed-json"
          data-vars-project="embed-json">embed-json</a>
      </h4>
      <a href="https://npmjs.com/package/embed-json"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit embed-json on npm."
        class="project-link m0010"
        data-vars-project="embed-json">
        <amp-img
          src="https://img.shields.io/npm/v/embed-json.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/embed-json.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://nodejs.org"
        rel="noopener"
        target="_blank"
        title="Visit Node.js website.">Node.js</a> module to inline/embed JSON data into files.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="embed-json.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/embed-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit embed-json on Github."
            data-vars-project="embed-json">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/embed-json"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit embed-json on npm."
            data-vars-project="embed-json">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="openssl-certgen.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-03">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/openssl-certgen"
          target="_blank"
          title="openssl-generate-certificates"
          data-vars-project="openssl-generate-certificates">OpenSSL Certificate Generator</a>
      </h4>
      <p class="m0">Automated, self-signed certificate generation via <a href="https://www.openssl.org/"
        target="_blank"
        rel="noopener"
        title="Visit OpenSSL website.">OpenSSL</a>.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="openssl-certgen.src.schema.json"></script>
          <a href="https://github.com/haensl/openssl-certgen"
          target="_blank"
          rel="noopener"
          class="project-link fixed-flex"
          title="Visit OpenSSL Certificate Generator on Github."
          data-vars-project="goto">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="mov2gif.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-02">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/mov2gif"
          target="_blank"
          title="mov2gif"
          data-vars-project="mov2gif">mov2gif</a>
      </h4>
      <p class="m0">QuickTime video to GIF animation converter.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="mov2gif.src.schema.json"></script>
          <a href="https://github.com/haensl/mov2gif"
          target="_blank"
          rel="noopener"
          class="project-link fixed-flex"
          title="Visit mov2gif on Github."
          data-vars-project="goto">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="node-amp-mustache-skeleton.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2018-02">2018 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/node-amp-mustache-skeleton"
          target="_blank"
          title="node-amp-mustache-skeleton"
          data-vars-project="node-amp-mustache-skeleton">node-amp-mustache-skeleton</a>
      </h4>
      <p class="m0"><a href="https://www.ampproject.org"
        target="_blank"
        rel="noopener"
        title="Visit AMP website.">AMP</a> project skeleton served via <a href="https://nodejs.org"
target="_blank"
rel="noopener"
title="Visit Node.js website.">Node.js</a> featuring <a href="https://mustache.github.io"
target="_blank"
rel="noopener"
title="Visit mustache website.">Mustache</a> templating and <a href="https://gulpjs.com"
target="_blank"
rel="noopener"
title="Visit gulp website.">Gulp</a> based CI.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="node-amp-mustache-skeleton.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/node-amp-mustache-skeleton"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit node-amp-mustache-skeleton on Github."
            data-vars-project="node-amp-mustache-skeleton">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="goto.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/goto"
          target="_blank"
          title="goto"
          data-vars-project="goto">goto</a>
      </h4>
      <p class="m0">Bash completion for fast project navigation.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="goto.src.schema.json"></script>
          <a href="https://github.com/haensl/goto"
          target="_blank"
          rel="noopener"
          class="project-link fixed-flex"
          title="Visit goto on Github."
          data-vars-project="goto">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="hpdietz-com.schema.json"></script>
      <script type="application/ld+json" src="hpdietz-com.app.schema.json"></script>
      <script type="application/ld+json" src="haensl-github-io.schema.json"></script>
      <script type="application/ld+json" src="haensl-github-io.app.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - PRSNT</time>
        <a class="project-link"
          href="https://haensl.github.io"
          target="_blank"
          title="haensl.github.io"
          data-vars-project="haensl.github.io">haensl.github.io</a><span class="m01">|</span>
        <a class="project.link"
          href="https://hpdietz.com"
          target="_blank"
          title="hpdietz.com"
          data-vars-project="haensl.github.io">hpdietz.com</a>
      </h4>
      <a href="https://hpdietz.com"
        target="_blank"
        class="project-link m0010"
        data-vars-project="haensl.github.io.src"
        >
        <amp-img
          src="https://gitlab.com/hpd/haensl.github.io.src/badges/master/pipeline.svg"
          width="116"
          height="20"></amp-img>
      </a>
      <p class="m0">Design and implementation of this site.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <a href="https://haensl.github.io"
            target="_blank"
            rel="noopener"
            title="Visit haensl.github.io"
            class="project-link fixed-flex"
            data-vars-project="haensl.github.io">
            <amp-img srcset="/assets/img/avatar_1x.png 24w, /assets/img/avatar_2x.png 48w"
              width="24"
              height="24"
              layout="responsive"
              class="icon-small grayscale"
              alt="haensl.github.io"></amp-img>
          </a>
        </li>
        <li>
          <a href="https://hpdietz.com"
            target="_blank"
            rel="noopener"
            title="Visit hpdietz.com"
            class="project-link fixed-flex"
            data-vars-project="haensl.github.io">
            <amp-img srcset="/assets/img/avatar_1x.png 24w, /assets/img/avatar_2x.png 48w"
              width="24"
              height="24"
              layout="responsive"
              class="icon-small grayscale"
              alt="hpdietz.com"></amp-img>
          </a>
        </li>
        <li>
          <script src="haensl-github-io.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/haensl.github.io.src"
          target="_blank"
          rel="noopener"
          class="project-link fixed-flex"
          title="Visit haensl.github.io on Github."
          data-vars-project="haensl.github.io">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="gulp-embed-json.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/gulp-embed-json"
          target="_blank"
          rel="noopener"
          title="gulp-embed-json"
          data-vars-project="gulp-embed-json">gulp-embed-json</a>
      </h4>
      <a href="https://npmjs.com/package/gulp-embed-json"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit gulp-embed-json on npm."
        class="project-link m0010"
        data-vars-project="gulp-embed-json">
        <amp-img
          src="https://img.shields.io/npm/v/gulp-embed-json.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/gulp-embed-json.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://gulpjs.com"
        rel="noopener"
        target="_blank"
        title="Gulp">Gulp</a> plugin to inline/embed JSON data into HTML files.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="gulp-embed-json.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/gulp-embed-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit gulp-embed-json on Github."
            data-vars-project="gulp-embed-json">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/gulp-embed-json"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit gulp-embed-json on npm."
            data-vars-project="gulp-embed-json">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="gulp-embed-svg.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/gulp-embed-svg"
          target="_blank"
          rel="noopener"
          title="gulp-embed-svg"
          data-vars-project="gulp-embed-svg">gulp-embed-svg</a>
      </h4>
      <a href="https://npmjs.com/package/gulp-embed-svg"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit gulp-embed-svg on npm."
        class="project-link m0010"
        data-vars-project="gulp-embed-svg">
        <amp-img
          src="https://img.shields.io/npm/v/gulp-embed-svg.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/gulp-embed-svg.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://gulpjs.com"
        rel="noopener"
        target="_blank"
        title="Gulp">Gulp</a> plugin to inline/embed SVG images into HTML files.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="gulp-embed-svg.src.schema.json"></script>
          <a href="https://github.com/haensl/gulp-embed-svg"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit gulp-embed-svg on Github."
            data-vars-project="gulp-embed-svg">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/gulp-embed-svg"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit gulp-embed-svg on npm."
            data-vars-project="gulp-embed-svg">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="gulp-minify-inline-json.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/gulp-minify-inline-json"
          target="_blank"
          rel="noopener"
          title="gulp-minify-inline-json"
          data-vars-project="gulp-minify-inline-json">gulp-minify-inline-json</a>
      </h4>
      <a href="https://npmjs.com/package/gulp-minify-inline-json"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit gulp-minify-inline-json on npm."
        class="project-link m0010"
        data-vars-project="gulp-minify-inline-json">
        <amp-img
          src="https://img.shields.io/npm/v/gulp-minify-inline-json.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/gulp-minify-inline-json.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://gulpjs.com"
        rel="noopener"
        target="_blank"
        title="Gulp">Gulp</a> plugin to minify inline <code>script</code> tags containing JSON data.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="gulp-minify-inline-json.src.schema.json"></script>
          <a href="https://github.com/haensl/gulp-minify-inline-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit gulp-minify-inline-json on Github."
            data-vars-project="gulp-minify-inline-json">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/gulp-minify-inline-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit gulp-minify-inline-json on npm."
            data-vars-project="gulp-minify-inline-json">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="vm-php.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-10">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/vm-php"
          target="_blank"
          title="vm-php"
          data-vars-project="vm-php">vm-php</a>
      </h4>
      <p class="m0"><a href="http://php.net"
        target="_blank"
        rel="noopener"
        title="PHP">PHP7</a> project skeleton based on <a href="https://www.vagrantup.com"
target="_blank"
rel="noopener"
title="Visit Vagrant website.">Vagrant</a> and <a href="https://www.ansible.com"
target="_blank"
rel="noopener"
title="Visit Ansible website.">Ansible</a> featuring development and QA sites as well as <a href="https://github.com/mailhog/MailHog"
target="_blank"
rel="noopener"
title="Visit MailHog on Github.">MailHog</a>.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="vm-php.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/vm-php"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit vm-php on Github."
            data-vars-project="vm-php">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://app.vagrantup.com/haensl/boxes/lamp7"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit vm-php on Vagrant Cloud."
            data-vars-project="vm-php">
            <svg src="vagrant-icon.svg" class="icon-small vagrant-icon icon-light icon-stroked"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="rovers.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-07">2017 - PRSNT</time>
        <a class="project-link"
          href="http://rovers.band"
          target="_blank"
          title="The Rovers Pub Music"
          data-vars-project="rovers">The Rovers | Pub Music</a>
      </h4>
        <p class="m0">Design, implementation and maintenance of the band's website.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <a href="http://rovers.band"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit the Rovers' website."
            data-vars-project="rovers">
            <amp-img srcset="/assets/img/rovers-icon_1x.png 24w, /assets/img/rovers-icon_2x.png 48w"
              layout="responsive"
              width="24"
              height="24"
              class="icon-small grayscale"
              alt="The Rovers"></amp-img>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ng-async-img.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-04">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/ng-async-img"
          target="_blank"
          title="ng-async-img"
          data-vars-project="ng-async-img">ng-async-img</a>
      </h4>
      <a href="https://npmjs.com/package/ng-async-img"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit ng-async-img on npm."
        class="project-link m0010"
        data-vars-project="ng-async-img">
        <amp-img
          src="https://img.shields.io/npm/v/ng-async-img.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/ng-async-img.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0"><a href="https://angularjs.org/"
        target="_blank"
        rel="noopener"
        title="Angular.js">Angular.js</a> 1.x directive for asynchronous, <code>$animate</code>-aware <code>&lt;img&gt;</code>-tags.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="ng-async-img.src.schema.json"></script>
          <a href="https://github.com/haensl/ng-async-img"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ng-async-img on Github."
            data-vars-project="ng-async-img">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/ng-async-img"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ng-async-img on npm."
            data-vars-project="ng-async-img">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="js-profiler.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2017-02">2017 - PRSNT</time>
        <a class="project-link"
          href="https://github.com/haensl/js-profiler"
          id="js-profiler-lib"
          target="_blank"
          title="JS-Profiler"
          data-vars-project="js-profiler">JS-Profiler (Node.js Library and CLI)</a>
      </h4>
      <a href="https://npmjs.com/package/js-profiler"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit js-profiler on npm."
        class="project-link m0010"
        data-vars-project="js-profiler">
        <amp-img
          src="https://img.shields.io/npm/v/js-profiler.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://circleci.com/gh/haensl/js-profiler.svg?style=svg"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">JavaScript profiling tool, benchmark collection and CLI for <a href="https://nodejs.org"
 target="_blank"
 rel="noopener noreferrer"
 title="Visit Node.js website.">Node.js</a>. Powers <a href="#js-profiler.com">JS Profiler</a> under the hood. Visit <a href="https://js-profiler.com"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit JS Profiler."
        class="project-link"
        data-vars-project="js-profiler.com">https://js-profiler.com</a> to see it in action.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="js-profiler.src.schema.json"></script>
          <a href="https://github.com/haensl/js-profiler"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit JS-Profiler on Github."
            data-vars-project="js-profiler">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/js-profiler"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit JS-Profiler on npm."
            data-vars-project="js-profiler">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
        <li>
          <a href="https://js-profiler.com"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit JS Profiler on the web."
            data-vars-project="js-profiler.com">
            <svg src="js-profiler-icon.svg" class="icon-small js-profiler-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="mutt2calcurse.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2016-05">2016 - PRSNT</time>
        <a href="https://github.com/haensl/mutt2calcurse"
          target="_blank"
          title="mutt2calcurse"
          class="project-link"
          data-vars-project="mutt2calcurse">mutt2calcurse</a>
      </h4>
      <p class="m0">Shell utility to export iCal events from mutt to calcurse.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="mutt2calcurse.src.schema.json"></script>
          <a href="https://github.com/haensl/mutt2calcurse"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit mutt2calcurse on Github."
            data-vars-project="mutt2calcurse">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ng-animated-scroll.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2016-04">2016 - PRSNT</time>
        <a href="https://github.com/haensl/ngAnimatedScroll"
          target="_blank"
          title="ng-async-img"
          class="project-link"
          data-vars-project="ng-animated-scroll">ngAnimatedScroll</a>
      </h4>
      <a href="https://npmjs.com/package/ng-animated-scroll"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit ng-animated-scroll on npm."
        class="project-link m0010"
        data-vars-project="ng-animated-scroll">
        <amp-img
          src="https://img.shields.io/npm/v/ng-animated-scroll.svg"
          width="80"
          height="20"
        ></amp-img>
      </a>
      <p class="m0">Promise based <a href="https://angularjs.org/"
        target="_blank"
        rel="noopener"
        title="Angular.js">Angular.js</a> 1.x service to facilitate animated scrolling.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script src="ng-animated-scroll.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/ngAnimatedScroll"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ngAnimatedScroll on Github."
            data-vars-project="ng-animated-scroll">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/ng-animated-scroll"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ngAnimatedScroll on npm."
            data-vars-project="ng-animated-scroll">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="bytes.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2016-02">2016 - PRSNT</time>
        <a href="https://github.com/haensl/bytes"
          class="project-link"
          target="_blank"
          title="bytes"
          data-vars-project="bytes">bytes</a>
      </h4>
      <p class="m0">Shell utility to retrieve disk space consumed by files within a directory.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="bytes.src.schema.json"></script>
          <a href="https://github.com/haensl/bytes"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit bytes on Github."
            data-vars-project="bytes">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg></a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="htmlelement-polyfills.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2015-11">2015 - PRSNT</time>
        <a href="https://github.com/haensl/htmlelement.polyfills"
          class="project-link"
          target="_blank"
          title="htmlelement.polyfills"
          data-vars-project="htmlelement.polyfills">htmlelement<wbr>.polyfills</a>
      </h4>
      <a href="https://npmjs.com/package/htmlelement.polyfills"
        target="_blank"
        rel="noopener noreferrer"
        title="Visit htmlelement.polyfills on npm."
        class="project-link m0010"
        data-vars-project="htmlelement.polyfills">
        <amp-img
          src="https://img.shields.io/npm/v/htmlelement.polyfills.svg"
          width="80"
          height="20"
          class="m0100"
        ></amp-img>
        <amp-img
          src="https://api.travis-ci.org/haensl/htmlelement.polyfills.svg?branch=master"
          width="90"
          height="20"></amp-img>
      </a>
      <p class="m0">Lightweight, vanilla JavaScript polyfills for most common operations on the <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement"
                                                                              target="_blank"
                                                                              rel="noopener"
                                                                              title="HTMLElement">HTMLElement interface</a>.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <script type="application/ld+json" src="htmlelement-polyfills.src.schema.json"></script>
          <a href="https://github.com/haensl/htmlelement.polyfills"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit htmlelement.polyfills on Github."
            data-vars-project="htmlelement.polyfills">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/htmlelement.polyfills"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit htmlelement.polyfills on npm."
            data-vars-project="htmlelement.polyfills">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="qake.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2014">2014 - 2016</time>
        Qake
      </h4>
      <p class="m0">Design and implementation of the retro arcade game Qake for iOS.</p>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2014">2014</time>
        Spiegel TV Wissen: Wissenswelten</h4>
      <p class="m0">Completion of front end related tasks on the Wissenswelten widget p.p. <a href="http://www.heinrichundgretchen.com"
        target="_blank"
        rel="noopener"
        title="heinrich+gretchen">heinrich+gretchen</a>.</p>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2014">2014</time>
        Spiegel TV Geschichte: Geschichte entdecken</h4>
      <p class="m0">Completion of front end related tasks on the Timeline widget p.p. <a href="http://www.heinrichundgretchen.com"
        target="_blank"
        rel="noopener"
        title="heinrich+gretchen">heinrich+gretchen</a>.</p>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ask-the-crowd.web.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2013-03-18">2013 - PRSNT</time>
        Ask The Crowd
      </h4>
      <p class="m0">Design, implementation and evaluation of the crowdsourcing online portal Ask The Crowd (currently in redesign), which enables users to ask and answer questions while providing realtime visualizations of the results.</p>
      <ul class="m1000 p0 horizontal-list">
        <li><a href="https://twitter.com/Ask_The_Crowd"
          target="_blank"
          class="social-link"
          title="Visit the Twitter profile of Ask The Crowd."><svg src="twitter-icon.svg" class="twitter-icon icon-dark icon-small"></svg></a></li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="percom12.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2012-03">2012</time>
        <a href="https://play.google.com/store/apps/details?id=org.percom&hl=en"
        target="_blank"
        class="project-link"
        title="PerCom App 2012"
        data-vars-project="percom12">PerCom App 2012</a>
      </h4>
      <p class="m0">Member of the developer team for the official Android app of the <a href="http://www.percom.org/Previous/ST2012/"
                                                                                            target="_blank"
                                                                                            rel="noopener"
                                                                                            title="PerCom|2012">2012 IEEE Pervasive Computing and Communication (PerCom)</a> conference in Lugano, Switzerland.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <a href="https://play.google.com/store/apps/details?id=org.percom&hl=en"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit the PerCom App 2012 on Google Play."
            data-vars-project="percom12">
            <amp-img srcset="/assets/img/percom12-icon_1x.png 24w, /assets/img/percom12-icon_2x.png 48w"
              class="icon-small grayscale"
              layout="responsive"
              width="24"
              height="24"
              alt="PerCom App 2012"></amp-img>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="mmm.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="daterange fixed-flex" datetime="2011">2011</time>
        <a href="https://youtu.be/9nYjFxxmyPg"
          target="_blank"
          class="project-link"
          title="MMM - The MultiModal Metronome"
          data-vars-project="mmm">MMM - The <b>M</b>ulti<b>M</b>odal <b>M</b>etronome</a>
      </h4>
      <p class="m0">Design and implementation of the <a href="https://www.arduino.cc/"
                                                            target="_blank"
                                                            rel="noopener"
                                                            title="Arduino">Arduino</a>-based rapid prototype for a metronome that reacts to external audio stimuli and provides visual cues of the beats.</p>
      <ul class="m1000 p0 horizontal-list">
        <li>
          <a href="https://youtu.be/9nYjFxxmyPg"
            target="_blank"
            class="project-link fixed-flex"
            title="Watch the creation of the MMM on YouTube."
            data-vars-project="mmm">
            <svg src="youtube-icon.svg" class="icon-small youtube-icon icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
  </ol>
</section>
