<section id="projects"
  class="p1">
  <h2 id="greeting">Projects</h2>
  <ol class="p01 m0"
    id="projects-list">
    <li class="item">
      <script type="application/ld+json" src="haensl-github-io.schema.json"></script>
      <script type="application/ld+json" src="haensl-github-io.app.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://haensl.github.io"
          target="_blank"
          title="haensl.github.io"
          data-vars-project="haensl.github.io">haensl.github.io</a>
      </h4>
      <p class="m0 p01">Design and implementation of this site.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <a href="https://haensl.github.io"
            target="_blank"
            rel="noopener"
            title="Visit haensl.github.io"
            class="project-link fixed-flex"
            data-vars-project="haensl.github.io">
            <amp-img srcset="/assets/img/avatar_1x.png 24w, /assets/img/avatar_2x.png 48w"
              width="24"
              height="24"
              layout="responsive"
              class="icon-small grayscale"
              alt="haensl.github.io"></amp-img>
          </a>
        </li>
        <li>
          <script src="haensl-github-io.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/haensl.github.io.src"
          target="_blank"
          rel="noopener"
          class="project-link fixed-flex"
          title="Visit haensl.github.io on Github."
          data-vars-project="haensl.github.io">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="gulp-embed-json.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://github.com/haensl/gulp-embed-json"
          target="_blank"
          rel="noopener"
          title="gulp-embed-json"
          data-vars-project="gulp-embed-json">gulp-embed-json</a>
      </h4>
      <p class="m0 p01"><a href="https://gulpjs.com"
        rel="noopener"
        target="_blank"
        title="Gulp">Gulp</a> plugin to inline/embed JSON data into HTML files.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script src="gulp-embed-json.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/gulp-embed-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit gulp-embed-json on Github."
            data-vars-project="gulp-embed-json">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/gulp-embed-json"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit gulp-embed-json on npm."
            data-vars-project="gulp-embed-json">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="gulp-embed-svg.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://github.com/haensl/gulp-embed-svg"
          target="_blank"
          rel="noopener"
          title="gulp-embed-svg"
          data-vars-project="gulp-embed-svg">gulp-embed-svg</a>
      </h4>
      <p class="m0 p01"><a href="https://gulpjs.com"
        rel="noopener"
        target="_blank"
        title="Gulp">Gulp</a> plugin to inline/embed SVG images into HTML files.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script type="application/ld+json" src="gulp-embed-svg.src.schema.json"></script>
          <a href="https://github.com/haensl/gulp-embed-svg"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit gulp-embed-svg on Github."
            data-vars-project="gulp-embed-svg">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/gulp-embed-svg"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit gulp-embed-svg on npm."
            data-vars-project="gulp-embed-svg">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="gulp-minify-inline-json.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-11">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://github.com/haensl/gulp-minify-inline-json"
          target="_blank"
          rel="noopener"
          title="gulp-minify-inline-json"
          data-vars-project="gulp-minify-inline-json">gulp-minify-inline-json</a>
      </h4>
        <p class="m0 p01"><a href="https://gulpjs.com"
        rel="noopener"
        target="_blank"
        title="Gulp">Gulp</a> plugin to minify inline <code>&lt;script&gt;</code> tags containing JSON data.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script type="application/ld+json" src="gulp-minify-inline-json.src.schema.json"></script>
          <a href="https://github.com/haensl/gulp-minify-inline-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit gulp-minify-inline-json on Github."
            data-vars-project="gulp-minify-inline-json">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/gulp-minify-inline-json"
            target="_blank"
            class="project-link fixed-flex"
            rel="noopener"
            title="Visit gulp-minify-inline-json on npm."
            data-vars-project="gulp-minify-inline-json">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="vm-php.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-10">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://github.com/haensl/vm-php"
          target="_blank"
          title="vm-php"
          data-vars-project="vm-php">vm-php</a>
      </h4>
      <p class="m0 p01"><a href="http://php.net"
        target="_blank"
        rel="noopener"
        title="PHP">PHP7</a> project skeleton based on <a href="https://www.vagrantup.com"
target="_blank"
rel="noopener"
title="Visit Vagrant website.">Vagrant</a> and <a href="https://www.ansible.com"
target="_blank"
rel="noopener"
title="Visit Ansible website.">Ansible</a> featuring development and QA sites as well as <a href="https://github.com/mailhog/MailHog"
target="_blank"
rel="noopener"
title="Visit MailHog on Github.">MailHog</a>.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script src="vm-php.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/vm-php"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit vm-php on Github."
            data-vars-project="vm-php">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://app.vagrantup.com/haensl/boxes/lamp7"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit vm-php on Vagrant Cloud."
            data-vars-project="vm-php">
            <svg src="vagrant-icon.svg" class="icon-small vagrant-icon icon-light icon-stroked"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="rovers.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-07">2017 - present</time>
        <a class="project-link fixed-flex"
          href="http://rovers.band"
          target="_blank"
          title="The Rovers Pub Music"
          data-vars-project="rovers">The Rovers | Pub Music</a>
      </h4>
        <p class="m0 p01">Design, implementation and maintenance of the band's website.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <a href="http://rovers.band"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit the Rovers' website."
            data-vars-project="rovers">
            <amp-img srcset="/assets/img/rovers-icon_1x.png 24w, /assets/img/rovers-icon_2x.png 48w"
              layout="responsive"
              width="24"
              height="24"
              class="icon-small grayscale"
              alt="The Rovers"></amp-img>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ng-async-img.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-04">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://github.com/haensl/ng-async-img"
          target="_blank"
          title="ng-async-img"
          data-vars-project="ng-async-img">ng-async-img</a>
      </h4>
      <p class="m0 p01"><a href="https://angularjs.org/"
        target="_blank"
        rel="noopener"
        title="Angular.js">Angular.js</a> 1.x directive for asynchronous, <code>$animate</code>-aware <code>&lt;img&gt;</code>-tags.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script type="application/ld+json" src="ng-async-img.src.schema.json"></script>
          <a href="https://github.com/haensl/ng-async-img"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ng-async-img on Github."
            data-vars-project="ng-async-img">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/ng-async-img"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ng-async-img on npm."
            data-vars-project="ng-async-img">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="js-performance.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2017-02">2017 - present</time>
        <a class="project-link fixed-flex"
          href="https://github.com/haensl/js-performance"
          target="_blank"
          title="js-performance"
          data-vars-project="js-performance">js-performance</a>
      </h4>
      <p class="m0 p01">A collection of JavaScript profiling modules and benchmarks.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script type="application/ld+json" src="js-performance.src.schema.json"></script>
          <a href="https://github.com/haensl/js-performance"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit js-performance on Github."
            data-vars-project="js-performance">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ng-animated-scroll.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2016-04">2016 - present</time>
        <a href="https://github.com/haensl/ngAnimatedScroll"
          target="_blank"
          title="ng-async-img"
          class="project-link fixed-flex"
          data-vars-project="ng-animated-scroll">ngAnimatedScroll</a>
      </h4>
      <p class="m0 p01">Promise based <a href="https://angularjs.org/"
        target="_blank"
        rel="noopener"
        title="Angular.js">Angular.js</a> 1.x service to facilitate animated scrolling.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script src="ng-animated-scroll.src.schema.json" type="application/ld+json"></script>
          <a href="https://github.com/haensl/ngAnimatedScroll"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ngAnimatedScroll on Github."
            data-vars-project="ng-animated-scroll">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/ng-animated-scroll"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit ngAnimatedScroll on npm."
            data-vars-project="ng-animated-scroll">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="htmlelement-polyfills.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2015-11">2015 - present</time>
        <a href="https://github.com/haensl/htmlelement.polyfills"
          class="project-link fixed-flex"
          target="_blank"
          title="htmlelement.polyfills"
          data-vars-project="htmlelement.polyfills">htmlelement<wbr>.polyfills</a>
      </h4>
      <p class="m0 p01">Lightweight, vanilla JavaScript polyfills for most common operations on the <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement"
                                                                              target="_blank"
                                                                              rel="noopener"
                                                                              title="HTMLElement">HTMLElement interface</a>.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <script type="application/ld+json" src="htmlelement-polyfills.src.schema.json"></script>
          <a href="https://github.com/haensl/htmlelement.polyfills"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit htmlelement.polyfills on Github."
            data-vars-project="htmlelement.polyfills">
            <svg src="github-icon.svg" class="github-icon icon-small icon-dark"></svg>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/htmlelement.polyfills"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit htmlelement.polyfills on npm."
            data-vars-project="htmlelement.polyfills">
            <svg src="npm-icon.svg" class="icon-small npm-icon"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="qake.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2014">2014 - 2016</time>
        <a href="http://qake.jandh.org"
          target="_blank"
          title="Qake"
          class="project-link fixed-flex"
          data-vars-project="qake">Qake</a>
      </h4>
      <p class="m0 p01">Design and implementation of the retro arcade game Qake for iOS.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <a href="http://qake.jandh.org"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit Qake on J&H."
            data-vars-project="qake">
            <amp-img srcset="/assets/img/qake-icon_1x.png 24w, /assets/img/qake-icon_2x.png 48w"
              class="icon-small grayscale"
              layout="responsive"
              width="24"
              height="24"
              alt="Qake"></amp-img>
          </a>
        </li>
        <li>
          <a href="https://youtu.be/vRUgu67tTDY"
            target="_blank"
            class="youtube-link project-link"
            title="Watch the Qake gameplay-trailer on YouTube."
            data-vars-project="qake">
            <svg src="youtube-icon.svg" class="youtube-icon icon-dark icon-small"></svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2014">2014</time>
        Spiegel TV Wissen: Wissenswelten</h4>
      <p class="m0 p01">Completion of front end related tasks on the Wissenswelten widget p.p. <a href="http://www.heinrichundgretchen.com"
        target="_blank"
        rel="noopener"
        title="heinrich+gretchen">heinrich+gretchen</a>.</p>
    </li>
    <li class="item">
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2014">2014</time>
        Spiegel TV Geschichte: Geschichte entdecken</h4>
      <p class="m0 p01">Completion of front end related tasks on the Timeline widget p.p. <a href="http://www.heinrichundgretchen.com"
        target="_blank"
        rel="noopener"
        title="heinrich+gretchen">heinrich+gretchen</a>.</p>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ask-the-crowd.web.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2013-03-18">2013 - present</time>
        <a class="project-link fixed-flex"
          href="http://ask-the-crowd.com"
          target="_blank"
          title="Ask The Crowd"
          data-vars-project="ask-the-crowd">Ask The Crowd</a>
      </h4>
        <p class="m0 p01">Design, implementation and evaluation of the crowdsourcing online portal <a href="http://ask-the-crowd.com"
          target="_blank"
          rel="noopener"
          title="Ask The Crowd"
          class="project-link fixed-flex"
          data-vars-project="ask-the-crowd">Ask The Crowd</a>, which enables users to ask and answer questions while providing realtime visualizations of the results.</p>
      <ul class="m1000 p01 horizontal-list">
        <li><a href="http://ask-the-crowd.com"
          target="_blank"
          class="project-link fixed-flex"
          title="Visit Ask The Crowd."
          data-vars-project="ask-the-crowd">
          <amp-img srcset="/assets/img/ask-the-crowd-icon_1x.png 24w, /assets/img/ask-the-crowd-icon_2x.png 48w"
            layout="responsive"
            width="24"
            height="24"
            class="icon-small grayscale"
            alt="Ask The Crowd"></amp-img></a></li>
        <li><a href="https://twitter.com/Ask_The_Crowd"
          target="_blank"
          class="social-link"
          title="Visit the Twitter profile of Ask The Crowd."><svg src="twitter-icon.svg" class="twitter-icon icon-dark icon-small"></svg></a></li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="percom12.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2012-03">2012</time>
        <a href="https://play.google.com/store/apps/details?id=org.percom&hl=en"
        target="_blank"
        class="project-link fixed-flex"
        title="PerCom App 2012"
        data-vars-project="percom12">PerCom App 2012</a>
      </h4>
      <p class="m0 p01">Member of the developer team for the official Android app of the <a href="http://www.percom.org/Previous/ST2012/"
                                                                                            target="_blank"
                                                                                            rel="noopener"
                                                                                            title="PerCom|2012">2012 IEEE Pervasive Computing and Communication (PerCom)</a> conference in Lugano, Switzerland.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <a href="https://play.google.com/store/apps/details?id=org.percom&hl=en"
            target="_blank"
            class="project-link fixed-flex"
            title="Visit the PerCom App 2012 on Google Play."
            data-vars-project="percom12">
            <amp-img srcset="/assets/img/percom12-icon_1x.png 24w, /assets/img/percom12-icon_2x.png 48w"
              class="icon-small grayscale"
              layout="responsive"
              width="24"
              height="24"
              alt="PerCom App 2012"></amp-img>
          </a>
        </li>
      </ul>
    </li>
    <li class="item">
      <script type="application/ld+json" src="mmm.schema.json"></script>
      <h4 class="row">
        <time class="daterange fixed-flex" datetime="2011">2011</time>
        <a href="https://youtu.be/9nYjFxxmyPg"
          target="_blank"
          class="project-link fixed-flex"
          title="MMM - The MultiModal Metronome"
          data-vars-project="mmm">MMM - The <b>M</b>ulti<b>M</b>odal <b>M</b>etronome</a>
      </h4>
      <p class="m0 p01">Design and implementation of the <a href="https://www.arduino.cc/"
                                                            target="_blank"
                                                            rel="noopener"
                                                            title="Arduino">Arduino</a>-based rapid prototype for a metronome that reacts to external audio stimuli and provides visual cues of the beats.</p>
      <ul class="m1000 p01 horizontal-list">
        <li>
          <a href="https://youtu.be/9nYjFxxmyPg"
            target="_blank"
            class="project-link fixed-flex"
            title="Watch the creation of the MMM on YouTube."
            data-vars-project="mmm">
            <svg src="youtube-icon.svg" class="icon-small youtube-icon icon-dark"></svg>
          </a>
        </li>
      </ul>
    </li>
  </ol>
</section>
