<section id="publications">
  <h1 id="greeting">Publications</h1>
  <ol class="no-list m0 p01"
    id="publications-list">
    <li class="item row fixed-flex">
      <script type="application/ld+json" src="ansible.schema.json"></script>
      <time class="year" datetime="2016">2016</time>
      <article class="m0 p0"><a href="/assets/docs/ansible.tar.gz.pdf"
        data-vars-document="Ansible.tar.gz"
        target="_blank"
        title="Tech-Report: Ansible.tar.gz"
        class="bold pdf-download-link doc-link no-text"><svg class="pdf-icon" src="pdf-icon.svg"></svg>Ansible.tar.gz</a>, Technical Report</article>
    </li>
    <li class="item row fixed-flex">
      <script type="application/ld+json" src="controlled-chaos.schema.json"></script>
      <time class="year" datetime="2015">2015</time>
      <article class="m0 p0"><a href="http://jandh.org/resources/blog/jandh_blog_2015-04-18_2_en.pdf"
        data-vars-document="Controlled Chaos"
        rel="noopener"
        target="_blank"
        title="Controlled Chaos: Randomization in Level Design."
        class="bold pdf-download-link doc-link no-text"><svg class="pdf-icon" src="pdf-icon.svg"></svg>Controlled Chaos: Randomization in Level Design</a>, J&amp;H</article>
    </li>
    <li class="item row fixed-flex">
      <script type="application/ld+json" src="ask-the-crowd.schema.json"></script>
      <time class="year" datetime="2013">2013</time>
      <article class="m0 p0"><a href="/assets/docs/ask-the-crowd.pdf"
        target="_blank"
        title="Ask The Crowd: Crowdsourcing Knowledge Generation"
        class="bold pdf-download-link doc-link no-text"
        data-vars-document="Ask The Crowd"><svg src="pdf-icon.svg" class="pdf-icon"></svg>Ask The Crowd: Crowdsourcing Knowledge Generation</a>, Ludwig-Maximilians-University, Munich</article>
    </li>
    <li class="item row fixed-flex">
      <script type="application/ld+json" src="implicit-authentication.schema.json"></script>
      <time class="year" datetime="2011">2011</time>
      <article class="m0 p0"><a href="https://www.medien.ifi.lmu.de/pubdb/publications/pub/hausen2011ubicompHS/hausen2011ubicompHS.pdf"
        target="_blank"
        rel="noopener"
        title="Implicit Authentication on Mobile Devices"
        data-vars-document="Implicit Authentication"
        class="bold pdf-download-link doc-link no-text"><svg class="pdf-icon" src="pdf-icon.svg"></svg>Implicit Authentication on Mobile Devices</a>, Advanced Seminar: Ubiquitous Computing</article>
    </li>
  </ol>
</section>

