<section id="resources">
  <h2
    class="m2000"
    id="greeting"
  >Teaching</h2>
  <ol class="no-list m0 p0">
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2020-11">2020</time>
        <a
          class="no-text project-link"
          href="https://github.com/haensl/reading.list"
          target="_blank"
          rel="noopener"
          title="List of books I can recommend reading."
          data-vars-document="reading.list"
        >reading.list</a>
      </h4>
      <article class="m0 p0">Recommended reading list for aspiring developers.</article>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2019-08">2020</time>
        <a
          class="no-text project-link"
          href="https://github.com/haensl/js-sessions"
          target="_blank"
          rel="noopener"
          title="Example sources created as part of JavaScript coaching sessions."
          data-vars-document="js-sessions"
        >js-sessions</a>
      </h4>
      <article class="m0 p0">In depth JavaScript and web-related coaching sessions.</article>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2020-06">2020</time>
        <a
          class="no-text project-link"
          href="https://github.com/haensl/nodejs1"
          target="_blank"
          rel="noopener"
          title="Example sources created as part of Node.js coaching sessions."
          data-vars-document="nodejs1"
        >node.js sessions</a>
      </h4>
      <article class="m0 p0">Entry level Node.js coaching.</article>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2020-04">2020</time>
        <a
          class="no-text project-link"
          href="https://github.com/haensl/react-redux-session"
          target="_blank"
          rel="noopener"
          title="Example sources created as part of Redux coaching sessions."
          data-vars-document="react-redux-session"
        >redux sessions</a>
      </h4>
      <article class="m0 p0">Entry level Redux coaching.</article>
    </li>
  </ol>
  <h2 class="m2000">Publications</h2>
  <ol class="no-list m0 p0"
    id="publications-list">
    <li class="item">
      <script type="application/ld+json" src="ansible.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="year" datetime="2016">2016</time>
        <a
          href="/assets/docs/ansible.tar.gz.pdf"
          data-vars-document="Ansible.tar.gz"
          target="_blank"
          title="Tech-Report: Ansible.tar.gz"
          class="pdf-download-link doc-link no-text project-link"
        ><svg class="pdf-icon" src="pdf-icon.svg"></svg>Ansible.tar.gz</a>
      </h4>
      <article class="m0 p0">Technical Report about configuration management focussing on the <a
        href="https://ansible.com"
        rel="noopener, nofollow"
        target="_blank"
        >Ansible Automation Platform</a>.</article>
    </li>
    <li class="item ">
      <script type="application/ld+json" src="controlled-chaos.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="year" datetime="2015">2015</time>
        <a href="/assets/docs/controlled-chaos.pdf"
          data-vars-document="Controlled Chaos"
          rel="noopener"
          target="_blank"
          title="Controlled Chaos: Randomization in Level Design."
          class="pdf-download-link doc-link no-text project-link"><svg class="pdf-icon" src="pdf-icon.svg"></svg>Controlled Chaos: Randomization in Level Design</a>
        </h4>
        <article class="m0 p0">Introduction to randomization strategies in level design.</article>
    </li>
    <li class="item">
      <script type="application/ld+json" src="ask-the-crowd.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="year" datetime="2013">2013</time>
        <a href="/assets/docs/ask-the-crowd.pdf"
          target="_blank"
          title="Ask The Crowd: Crowdsourcing Knowledge Generation"
          class="pdf-download-link doc-link no-text project-link"
          data-vars-document="Ask The Crowd"><svg src="pdf-icon.svg" class="pdf-icon"></svg>Ask The Crowd: Crowdsourcing Knowledge Generation</a>
      </h4>
      <article class="m0 p0">Evaluation of crowdsourcing and gamification mechanisms for the purpose of knowledge generation.</article>
    </li>
    <li class="item">
      <script type="application/ld+json" src="implicit-authentication.schema.json"></script>
      <h4 class="m-column-d-row">
        <time class="year" datetime="2011">2011</time>
        <a href="https://www.medien.ifi.lmu.de/pubdb/publications/pub/hausen2011ubicompHS/hausen2011ubicompHS.pdf"
          target="_blank"
          rel="noopener"
          title="Implicit Authentication on Mobile Devices"
          data-vars-document="Implicit Authentication"
          class="pdf-download-link doc-link no-text project-link"><svg class="pdf-icon" src="pdf-icon.svg"></svg>Implicit Authentication on Mobile Devices</a>
      </h4>
      <article class="m0 p0">Overview and analysis of mechanisms for implicit authentication on mobile devices.</article>
    </li>
  </ol>
  <h2 class="m2000">Talks</h2>
  <ol class="no-list m0 p0">
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2018">2018</time>
        <span class="no-text project-link">Analytics</span>
      </h4>
      <article class="m0 p0">Application analytics for IoT solutions from conception to solution. Osram, Munich.</article>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2017">2017</time>
        <span class="no-text project-link">Accelerated Mobile Pages</span> 
      </h4>
      <article class="m0 p0">An introduction to <a href="https://www.ampproject.org/" target="_blank" rel="noopener">Google AMP</a>. CHECK24, Munich.</article>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2017">2017</time>
        <a href="https://github.com/haensl/bash-talk"
          target="_blank"
          rel="noopener"
          title="Linux, the Bash &amp; everything"
          data-vars-document="Linux, the Bash &amp; everything"
          class="doc-link no-text project-link">Linux, the Bash &amp; everything</a>
        </h4>
        <article class="m0 p0">Fundamentals of UNIX-based operating systems and shell programming. CHECK24, Munich.</article>
    </li>
    <li class="item">
      <h4 class="m-column-d-row">
        <time class="year" datetime="2016">2016</time>
        <span class="no-text project-link">Componentization in modern web architectures</span>
      </h4>
      <article class="m0 p0">Concepts and architectural patterns of state of the art web applications. Technical University, Munich.</article>
    </li>
  </ol>
</section>

