<section id="services">
  <h2
    class="m2000"
    id="greeting">Work with me</h2>
  <p>If you are looking for someone to help you realize your idea, you have found the right guy!</p>
  <p class="no-text">I can help you...</p>
  <ul>
    <li>...dissect your idea into an actionable plan.</li>
    <li>...select technologies to realize your idea.</li>
    <li>...lay out a system design of required components and services.</li>
    <li>...move to the cloud.</li>
    <li>...coach your developers.</li>
    <li>...fine-tune your process.</li>
    <li>...improve your user experience.</li>
    <li>...implement your idea.</li>
  </ul>
  <p class="no-text">Get in touch:</p>
  {{> social-nav}}
</section>
