<section id="technical-skills">
    <h2>Technologies</h2>
    <p class="m1000">The following listings represent non-exclusive excerpts of technologies I have worked with.</p>
    <section class="item p0 m0">
      <h3>Operating Systems</h3>
      <p class="m0010">&mdash; &ldquo;As long as it runs GNU tools, we should be fine.&rdquo;</p>
      <ul class="m0 p0 no-list horizontal-list">
        <li class="flex-column-centering">
          <svg src="android-icon.svg"
            class="icon android-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering w5">Android</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="ios-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">iOS</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="tux-icon.svg"
            class="icon tux-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Linux</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="osx-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">OSX</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h3>Programming Languages &amp; Frameworks</h3>
      <p class="m0010">&mdash; &ldquo;Mostly JS.&rdquo; <span class="small italic">(But I do enjoy getting my hands dirty with other things as well.)</span></p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering m0010 w5">
          <svg src="amp-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">AMP</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="android-icon.svg"
            class="icon android-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Android</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="angular-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Angular.js</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="terminal-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bash</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="bootstrap-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bootstrap</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="c-icon.svg"
            class="icon c-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">C</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="cpp-icon.svg"
            class="icon cpp-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">C++</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="csharp-icon.svg"
            class="icon csharp-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">C#</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="css-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">CSS</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="javascript-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">EcmaScript</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="ejs-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">EJS</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="express-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Express</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="golang-icon.svg"
            class="icon golang-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Go</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="html5-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">(X)HTML(5)</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="koa-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">koa</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="java-icon.svg"
            class="icon java-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Java</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="jquery-icon.svg"
            class="icon jquery-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">jQuery</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="less-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Less</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="mithril-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Mithril</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="mustache-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Mustache</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="nodejs-icon.svg"
            class="icon nodejs-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Node.js</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="objectivec-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Objective-C</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="passport-icon.svg"
            class="icon m0010 passport-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Passport</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="php-icon.svg"
            class="icon php-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">PHP</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="preact-icon.svg"
            class="icon preact-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Preact</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="pygame-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Pygame</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="python-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Python</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="react-icon.svg"
            class="icon react-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">React</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="redux-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Redux</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="riot-icon.svg"
            class="icon riot-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Riot.js</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="slimphp-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Slim</h5>
        </li>
        <li class="flex-column-centering m0010 w5">
          <svg src="xml-icon.svg"
            class="icon xml-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">XML</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h3>Test &amp; behaviour driven development (TDD/BDD)</h3>
      <p class="m0010">&mdash; &ldquo;A pinch of probability is worth a pound of perhaps.&rdquo; <span class="small italic">(James Thurber)</span></p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="chai-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Chai</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="cucumber-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Cucumber.js</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="jasmine-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Jasmine</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="jest-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Jest</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="karma-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Karma</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="mocha-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Mocha</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="nock-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Nock</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="protractor-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Protractor</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="pytest-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">pytest</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="selenium-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Selenium</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="sinon-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Sinon.js</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h4>Database Systems</h4>
      <p class="m0010">&mdash; &ldquo;Relational. Non-Relational. Irrational.&rdquo;</p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="mongodb-icon.svg"
            class="icon m0010 mongodb-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">MongoDB</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="mysql-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">MySQL</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="postgresql-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">PostgreSQL</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="sqlite-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">SQLite</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h4>Web Servers and Proxies</h4>
      <p class="m0010">&mdash; &ldquo;Preferrably Node behind a HAProxy.&rdquo;</p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="apache-icon.svg"
            class="icon m0010 apache-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Apache</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="haproxy-icon.svg"
            class="icon m0010 haproxy-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">HAProxy</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="nginx-icon.svg"
            class="icon m0010 nginx-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Nginx</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="nodejs-icon.svg"
            class="icon m0010 nodejs-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Node.js</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="traefik-icon.svg"
            class="icon m0010 traefik-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Traefik</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h4>Continuous Integration &amp; Delivery</h4>
      <p class="m0010">&mdash; &ldquo;The most powerful tool we have as programmers is automation.&rdquo; <span class="small italic">(Scott Hanselman)</span></p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="ansible-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Ansible</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="bamboo-icon.svg"
            class="icon m0010 bamboo-icon"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bamboo</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="terminal-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Bash</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="docker-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Docker</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="circleci-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">CircleCI</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="grunt-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Grunt</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="gulp-icon.svg"
            class="icon gulp-icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Gulp</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="make-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">make</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="pipelines-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Pipelines</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="travis-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Travis CI</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="webpack-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Webpack</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="vagrant-icon.svg"
            class="icon m0010 vagrant-icon-solid"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Vagrant</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="virtualbox-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">VirtualBox</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h4>Processes</h4>
      <p class="m0010">&mdash; &ldquo;Organization design dictates system design, right?!&rdquo; <span class="small italic">(me, thinking of Melvin Conway)</span></p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="kanban-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Kanban</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="scrum-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">SCRUM</h5>
        </li>
      </ul>
      </section>
      <section class="item p0 m0">
      <h4>Architecture &amp; Modelling</h4>
      <p class="m0010">&mdash; &ldquo;Make it simple, but not simpler.&rdquo; <span class="small italic">(Albert Einstein)</span></p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="er-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">ER</h5>
        </li>
        <li class="flex-column-centering w5">
          <svg src="uml-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">UML</h5>
        </li>
      </ul>
    </section>
    <section class="item p0 m0">
      <h4>Version Control</h4>
      <p class="m0010">&mdash; &ldquo;It is easy to shoot your foot off with git, but also easy to revert to a previous foot and merge it with your current leg.&rdquo; <span class="small italic">(Jack William Bell)</span></p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="git-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">git</h5>
        </li>
      </ul>
    </section>
    <section class="item p0">
      <h4>Development Environments</h4>
      <p class="m0010">&mdash; &ldquo;I favor consistency. That's why I usually stick to vim and have a <a href="https://github.com/haensl/dotFiles" target="_blank" rel="noopener noreferrer">collection of dotfiles</a> to configure myself a cosy environment.&rdquo;</p>
      <ul class="m0 p0 no-list horizontal-list wrap">
        <li class="flex-column-centering w5">
          <svg src="vim-icon.svg"
            class="icon m0010"
            width="48"
            height="48"></svg>
          <h5 class="p01 m0 centering">Vim</h5>
        </li>
      </ul>
    </section>
  </section>
