<urlset xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <url>
    <loc>https://{{domain}}/</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/services</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/cv</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/software</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/resources</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/impressum</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>yearly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/privacy</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>yearly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/assets/docs/cv-hpdietz.pdf</loc>
    <lastmod>{{modified}}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/assets/docs/ansible.tar.gz.pdf</loc>
    <changefreq>yearly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/assets/docs/ask-the-crowd.pdf</loc>
    <changefreq>yearly</changefreq>
  </url>
  <url>
    <loc>https://{{domain}}/assets/docs/controlled-chaos.pdf</loc>
    <changefreq>yearly</changefreq>
  </url>
</urlset>
