<section id="cv">
  <h1 id="greeting">Curriculum Vitae</h1>
  <a href="{{pdf.href}}"
    data-vars-document="CV"
    class="block pdf-download-link small doc-link"
    target="_blank"
    rel="noopener"><svg src="pdf-icon.svg" class="pdf-icon"></svg>{{pdf.text}}</a>
  <section id="key-skills">
    <h2>{{skills.heading}}</h2>
    {{#skills.items}}
    <section class="item p0 column">
      <h4 class="m0010">{{title}}</h4>
      <p class="m0 p0">{{description}}</p>
    </section>
  </section>
  <section id="vocations">
    <h2>{{vocations.heading}}</h2>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex"
              datetime="{{vocations.experteer.date.iso}}">vocations.experteer.date.text</time>
        <a href="{{vocations.experteer.href}}"
          target="_blank"
          rel="noopener noreferrer">
          <svg src="{{vocations.experteer.logo.src}}"
            class="company-logo"
            height="{{vocations.experteer.logo.height}}"/>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">{{vocations.experteer.title}}, <a href="{{vocations.experteer.href}}" target="_blank" rel="noopener noreferrer">{{vocations.experteer.name}}</a>, {{vocations.experteer.location}}</h4>
        <p class="p0 m0 left">{{vocations.experteer.description}}</p>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex"
              datetime="{{vocations.osram.date.iso}}">{{vocations.osram.date.text}}</time>
        <a href="{{vocations.osram.href}}"
          target="_blank"
          rel="noopener">
          <svg src="{{vocations.osram.logo.src}}"
            class="company-logo"
            height="{{vocations.osram.logo.height}}"/>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">{{vocations.osram.title}}, <a href="{{vocations.osram.href}}" target="_blank" rel="noopener noreferrer">{{vocations.osram.name}}</a>, {{vocations.osram.location}}</h4>
        <p class="p0 m0 left">{{vocations.osram.description}}</p>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex"
              datetime="{{vocations.check24.date.iso}}">{{vocations.check24.date.text}}</time>
        <a href="{{vocations.check24.href}}"
          target="_blank"
          rel="noopener">
          <amp-img srcset="{{vocations.check24.logo.src}}"
            class="company-logo"
            width="{{vocations.check24.logo.width}}"
            height="{{vocations.check24.logo.height}}"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">{{vocations.check24.title}}, <a href="{{vocations.check24.href}}" target="_blank" rel="noopener">{{vocations.check24.name}}</a>, {{vocations.check24.location}}</h4>
        <p class="p0 m0 left">{{vocations.check24.description}}</p>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="{{vocations.jandh.date.iso}}">{{vocations.jandh.date.text}}</time>
        <a href="{{vocations.jandh.href}}"
          target="_blank"
          rel="noopener">
          <amp-img srcset="{{vocations.jandh.logo.src}}"
            class="company-logo"
            width="{{vocations.jandh.logo.width}}"
            height="{{vocations.jandh.logo.height}}"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">{{vocations.jandh.title}}, <a href="{{vocations.jandh.href}}" target="_blank" rel="noopener">{{vocations.jandh.name}}</a>, {{vocations.jandh.location}}</h4>
        <p class="p0 m0 left">{{vocations.jandh.description}}</p>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="{{vocations.lmu.date.iso}}">{{vocations.lmu.date.text}}</time>
        <a href="{{vocations.lmu.href}}"
          target="_blank"
          rel="noopener">
          <amp-img srcset="{{vocations.lmu.logo.src}}"
            class="company-logo"
            width="{{vocations.lmu.logo.width}}"
            height="{{vocations.lmu.logo.height}}"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">{{vocations.lmu.title}}, <a href="{{vocations.lmu.href}}" target="_blank" rel="noopener">{{vocations.lmu.name}}</a>, {{vocations.lmu.location}}</h4>
        <p class="p0 m0 left">{{vocations.lmu.description}}</p>
        <ul class="m1000 p0 no-list" id="cv-lectures-list">
          {{#vocations.lmu.lectures}}
          <li>
            <h5><a href="{{href}}" target="_blank" rel="noopener">{{name}}</a></h5>
            <p class="p0 m0 small left">{{description}}</p>
          </li>
          {{/vocations.lmu.lectures}}
        </ul>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2008-10-01">2008&nbsp;&ndash; 2010</time>
        <a href="http://efdis.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/efdis-logo_1x.jpg 1x, /assets/img/efdis-logo_2x.jpg 2x"
            class="company-logo"
            height="48"
            width="78"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Working student, <a href="http://efdis.de" target="_blank" rel="noopener">Efidis AG</a>, Freising</h4>
        <p class="p0 m0 left">Working student in software development.</p>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time datetime="2007-10-01" class="daterange fixed-flex">2007</time>
        <a href="https://www.bmwgroup.com"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/bmw-group-logo_1x.jpg 1x, /assets/img/bmw-group-logo_2x.jpg 2x"
            class="company-logo"
            height="48"
            width="96"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Working student, <a href="https://www.bmwgroup.com" target="_blank" rel="noopener">BMW Group</a>, Munich</h4>
        <p class="p0 m0 left">Working student in taxes/national.</p>
      </div>
    </section>
  </section>
  <section id="certifications">
    <h2>Certifications</h2>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2009-10-01">2009</time>
        <a href="https://www.tuev-sued.de/management-systeme/it-dienstleistungen/iso-20000"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/itsm-iso20000-logo_1x.jpg 1x, /assets/img/itsm-iso20000-logo_2x.jpg 2x"
            class="company-logo"
            width="48"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010"><a href="https://www.tuev-sued.de/management-systeme/it-dienstleistungen/iso-20000" target="_blank" rel="noopener">Foundation Certificate in IT Service Management according to ISO/IEC 20000</a></h4>
      </div>
    </section>
  </section>
  <section id="education">
    <h2>Education</h2>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2010-10-01">2010&nbsp;&ndash; 2014</time>
        <a href="http://www.medien.ifi.lmu.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/lmu-logo_1x.jpg 1x, /assets/img/lmu-logo_2x.jpg 2x"
            class="company-logo"
            width="101"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Master of Science, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">Media Informatics, Ludwig-Maximilians-University</a>, Munich</h4>
        <section class="m0">
          <h5>Focus areas:</h5>
          <p class="m0 left">User experience, security, distributed computing, web and mobile applications.</p>
          <h5 class="m10">Master Thesis:</h5>
          <p class="m0 left">Ask The Crowd: Crowdsourcing Knowledge Generation.</p>
        </section>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2007-10-01">2007&nbsp;&ndash; 2010</time>
        <a href="http://www.medien.ifi.lmu.de"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/lmu-logo_1x.jpg 1x, /assets/img/lmu-logo_2x.jpg 2x"
            class="company-logo"
            width="101"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Bachelor of Science, <a href="http://www.medien.ifi.lmu.de" target="_blank" rel="noopener">Media Informatics, Ludwig-Maximilians-University</a>, Munich</h4>
        <section class="m0">
          <h5>Focus areas:</h5>
          <p class="m0010 left">Human computer interaction, multimedia, software development.</p>
          <h5>Secondary subject:</h5>
          <p class="m0010 left">Media business studies.</p>
          <h5>Bachelor Thesis:</h5>
          <p class="m0010 left"> Supporting association, reminiscing and social discovery in a music player.</p>
        </section>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="2006-09-01">2006&nbsp;&ndash; 2007</time>
        <a href="http://www.agrar.wzw.tum.de/"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/tum-logo_1x.jpg 1x, /assets/img/tum-logo_2x.jpg 2x"
            class="company-logo"
            width="91"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">Student of <a href="http://www.agrar.wzw.tum.de/" rel="noopener" target="_blank">Horticultural Science, Technical University</a>, Munich</h4>
      </div>
    </section>
    <section class="item m-column-d-row">
      <div class="m-row-d-column">
        <time class="daterange fixed-flex" datetime="1997-06-01">1997&nbsp;&ndash; 2006</time>
        <a href="http://www.gwsg.net/"
          target="_blank"
          rel="noopener">
          <amp-img srcset="/assets/img/gwsg-logo_1x.jpg 1x, /assets/img/gwsg-logo_2x.jpg 2x"
            class="company-logo"
            width="51"
            height="48"></amp-img>
        </a>
      </div>
      <div class="column">
        <h4 class="m0010">A-Levels, <a href="http://www.gwsg.net/" target="_blank" rel="noopener">Georg-Wilhelm-Steller-Gymnasium</a>, Bad Windsheim</h4>
      </div>
    </section>
  </section>
  <section id="languages">
    <h2><i>(Spoken)</i> Languages</h2>
    <section class="item p0 row vcentering">
      <svg src="flag-german.svg"
        class="icon m0"
        width="48"
        height="48"></svg>
      <h4 class="m0001">German</h4>
      <span class="text m0001">Mothertongue</span>
    </section>
    <section class="item p0 row vcentering">
      <svg src="flag-us.svg"
        class="icon m0"
        width="48"
        height="48"></svg>
      <h4 class="m0001">English</h4>
      <span class="text m0001">Fluent</span>
    </section>
    <section class="item p0 row vcentering">
      <svg src="flag-french.svg"
        class="icon m0"
        width="48"
        height="48"></svg>
      <h4 class="m0001">French</h4>
      <span class="text m0001">Basics</span>
    </section>
  </section>
  <a href="/assets/docs/cv-hpdietz.pdf"
    class="block pdf-download-link small doc-link"
    data-vars-document="CV"
    target="_blank"
    rel="noopener"><svg class="pdf-icon" src="pdf-icon.svg"></svg>View/Download my CV as PDF.</a>
</section>
