:root {
  --purple: #8000cb;
  --gray: #8e8683;
  --beige: #f7ede4;
  --white: #eee;
  --black: #000;
  --defaultPadding: .5rem;
  --twitterBlue: #5ea9dd;
  --xingLightGreen: #d4d600;
  --xingDarkGreen: #005a5f;
  --linkedInBlue: #0077b5;
  --adobeRed: #f02023;
  --npmRed: #ca3a3b;
  --youtubeRed: #f00;
  --vagrantLightBlue: #127eff;
  --vagrantDarkBlue: #1159cc;
  --tuxWhite: #eceff1;
  --tuxGray: #212121;
  --tuxYellow: #ffc107;
  --tuxBrown: #634703;
  --androidGreen: #aac148;
  --javaBlue: #477ed0;
  --javaRed: #ec282c;
  --golangBeige: #f6d2a2;
  --golangBlue: #69d7e2;
  --golangWhite: #fff;
  --golangBlack: #231f20;
  --cBlue: #03599c;
  --cppDarkBlue: #00549d;
  --cppLightBlue: #0086d4;
  --cppMediumBlue: #0075c0;
  --cppWhite: #fff;
  --csharpGray: #3c3c3c;
  --csharpWhite: #fff;
  --csharpLightPurple: #9b4f96;
  --csharpDarkPurple: #68217a;
  --csharpMediumPurple: #813787;
  --nodejsGreen: #81cf08;
  --reactBlue: #61dafb;
  --riotRed: #ed1846;
  --jqueryBlue: #0a69ad;
  --phpBlue: #6181b6;
  --xmlOrange: #f29c1f;
  --xmlWhite: #fff;
  --mongoDbBrown: #a6a385;
  --mongoDbDarkGreen: #499d4a;
  --mongoDbLightGreen: #58aa50;
  --apacheOrange: #e97826;
  --apacheMagenta: #9e2064;
  --apacheMagenta2: #9f2064;
  --apacheRed: #be202e;
  --apacheRed2: #c92037;
  --apacheRed3: #cd2335;
  --apacheRed4: #cd2032;
  --apachePurple: #282662;
  --apacheLightPurple: #662e8d;
  --nginxGreen: #0d9921;
  --gulpRed: #d34a47;
  --bambooBlue: #1f5182;
  --transitionDuration: .25s;
  --boxShadow: 2px 0 3px 1px var(--gray);
  --boxShadowInset: inset 0 2px 3px 1px var(--gray);
  --boxShadowInsetMinusX: inset -2px 2px 3px 1px var(--gray);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  box-sizing: border-box;
  /**
  outline: 1px solid red;
  */
}

body, html {
  width: 100%;
  display: flex;
  flex: 1 0 100vh;
  flex-direction: column;
  color: var(--white);
  background-color: var(--black);
}

body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  position: relative;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  font-size: 120%;
  letter-spacing: .1em;
  background-color: #fff;
  color: var(--black);
  box-shadow: var(--boxShadowInset);
  padding: 0 var(--defaultPadding) var(--defaultPadding) var(--defaultPadding);
}

main > section.p1 {
  opacity: 1;
  height: auto;
}

footer {
  justify-self: flex-end;
}

footer.active > a {
  color: var(--purple);
}

p {
  text-align: justify;
}

p,
q,
article {
  font-family: Cormorant, Garamond, Big Caslon, Palatino, Georgia, Times, Times New Roman, serif;
}

a {
  transition: color var(--transitionDuration) ease;
}

a:link,
a:visited {
  color: var(--white);
  text-decoration: none;
}

main a:link,
main a:visited {
  color: var(--gray);
}

main a:hover,
main a:focus,
main a:active,
a:hover,
a:focus,
a:active {
  color: var(--purple);
  text-decoration: none;
  cursor: pointer;
}

svg {
  transition: fill var(--transitionDuration) ease;
}

section > h2 {
  margin: 2rem 0 var(--defaultPadding) 0;
}

h4 {
  margin-bottom: var(--defaultPadding);
}

h5 {
  margin: 0 0 .5rem 0;
  font-size: .7rem;
}

ul,
ol {
  list-style: none;
}

li {
  margin-bottom: var(--defaultPadding);
}

li:last-of-type {
  margin-bottom: 0;
}


.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.p0 {
  padding: 0;
}

.p01 {
  padding: 0 var(--defaultPadding);
}

.p1 {
  padding: var(--defaultPadding);
}

.p0001 {
  padding: 0 0 0 var(-defaultPadding);
}

.w30 {
  flex: 0 0 30%;
}

.m0 {
  margin: 0;
}

.m0100 {
  margin: 0 var(--defaultPadding) 0 0;
}

.m0010 {
  margin: 0 0 var(--defaultPadding) 0;
}

.m1001 {
  margin: var(--defaultPadding) 0 0 var(--defaultPadding);
}

.m0001 {
  margin: 0 0 0 var(--defaultPadding);
}

.m1000 {
  margin: var(--defaultPadding) 0 0 0;
}

.mb {
  margin-bottom: var(--defaultPadding);
}

.no-list {
  list-style: none;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.horizontal-space-between {
  justify-content: space-between;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
}

.horizontal-list > li {
  margin-right: var(--defaultPadding);
}

.horizontal-list > li:last-of-type {
  margin-right: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.centering {
  text-align: center;
}

.row.vcentering {
  align-items: center;
}

.flex-column-centering {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left {
  text-align: left;
}

.small {
  font-size: .85rem;
}

.italic {
  font-style: italic;
}

.no-text {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

.text {
  font-family: Cormorant, Garamond, Big Caslon, Palatino, Georgia, Times, Times New Roman, serif;
}

.w5 {
  width: 5rem;
}

.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.pdf-download-link:hover {
  color: var(--adobeRed);
}

.icon-light {
  fill: var(--white);
}

.icon-stroked {
  stroke: var(--black);
  stroke-width: 5;
}

.icon-dark {
  fill: var(--black);
}

.pdf-icon {
  width: 1rem;
  height: 1rem;
  fill: var(--black);
}

a:hover > .pdf-icon,
.pdf-icon:hover {
  fill: var(--adobeRed);
}

.grayscale {
  transition: filter var(--transitionDuration) ease;
  filter: grayscale(100%);
}

.grayscale:hover {
  filter: none;
}

.github-icon:hover,
.github-icon-dark:hover {
  fill: var(--gray);
}

.twitter-icon:hover,
.twitter-icon-dark:hover {
  fill: var(--twitterBlue);
}

.xing-icon:hover .xing-icon-left {
  fill: var(--xingLightGreen);
}

.xing-icon:hover .xing-icon-right {
  fill: var(--xingDarkGreen);
}

.vagrant-icon-solid .vagrant-icon-light {
  fill: var(--vagrantLightBlue);
}

.vagrant-icon-solid .vagrant-icon-dark {
  fill: var(--vagrantDarkBlue);
}

.vagrant-icon:hover .vagrant-icon-light {
  fill: var(--vagrantLightBlue);
}

.vagrant-icon:hover .vagrant-icon-dark {
  fill: var(--vagrantDarkBlue);
}

.tux-icon .tux-icon-white {
  fill: var(--tuxWhite);
}

.tux-icon .tux-icon-gray {
  fill: var(--tuxGray);
}

.tux-icon .tux-icon-yellow {
  fill: var(--tuxYellow);
}

.tux-icon .tux-icon-brown {
  fill: var(--tuxBrown);
}

.android-icon .android-icon-green {
  fill: var(--androidGreen);
}

.java-icon .java-icon-blue {
  fill: var(--javaBlue);
}

.java-icon .java-icon-red {
  fill: var(--javaRed);
}

.java-icon .java-icon-red,
.java-icon .java-icon-blue {
  fill-rule: evenodd;
}

.golang-icon .golang-icon-beige {
  fill: var(--golangBeige);
}

.golang-icon .golang-icon-blue {
  fill: var(--golangBlue);
}

.golang-icon .golang-icon-white {
  fill: var(--golangWhite);
}

.golang-icon .golang-icon-black {
  fill: var(--golangBlack);
}

.c-icon .c-icon-blue {
  fill: var(--cBlue);
}

.csharp-icon .csharp-icon-hexagon-gray {
  fill: none;
  stroke-linejoin: round;
  stroke-opacity: 0.4;
  stroke-width: 0.8;
  stroke: var(--csharpGray);
}

.csharp-icon .csharp-icon-hexagon-white {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 0.5;
  stroke: var(--csharpWhite);
}

.csharp-icon .csharp-icon-area {
  stroke-linejoin: round;
  stroke-width: 3;
}

.csharp-icon .csharp-icon-light-purple {
  fill: var(--csharpLightPurple);
}

.csharp-icon .csharp-icon-dark-purple {
  fill: var(--csharpDarkPurple);
}

.csharp-icon .csharp-icon-medium-purple {
  fill: var(--csharpMediumPurple);
}

.csharp-icon .csharp-icon-white {
  fill: var(--csharpWhite);
  stroke-width: 1px;
}

.cpp-icon .cpp-icon-dark-blue,
.cpp-icon .cpp-icon-light-blue,
.cpp-icon .cpp-icon-medium-blue,
.cpp-icon .cpp-icon-white {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.cpp-icon .cpp-icon-medium-blue {
  fill: var(--cppMediumBlue);
}

.cpp-icon .cpp-icon-white {
  fill: var(--cppWhite);
}

.cpp-icon .cpp-icon-light-blue {
  fill: var(--cppLightBlue);
}

.cpp-icon .cpp-icon-dark-blue {
  fill: var(--cppDarkBlue);
}

.nodejs-icon .nodejs-icon-green {
  fill: var(--nodejsGreen);
}

.react-icon .react-icon-blue {
  fill: var(--reactBlue);
}

.riot-icon .riot-icon-red {
  fill: var(--riotRed);
}

.jquery-icon .jquery-icon-blue {
  fill: var(--jqueryBlue);
}

.php-icon .php-icon-blue {
  fill: var(--phpBlue);
}

.xml-icon .xml-icon-orange {
  fill: var(--xmlOrange);
}

.xml-icon .xml-icon-white {
  fill: var(--xmlWhite);
}

.mongodb-icon .mongodb-icon-brown {
  fill: var(--mongoDbBrown);
}

.mongodb-icon .mongodb-icon-light-green {
  fill: var(--mongoDbLightGreen);
}

.mongodb-icon .mongodb-icon-dark-green {
  fill: var(--mongoDbDarkGreen);
}

.apache-icon .apache-icon-stop-orange {
  stop-color: var(--apacheOrange);
}

.apache-icon .apache-icon-stop-magenta {
  stop-color: var(--apacheMagenta);
}

.apache-icon .apache-icon-stop-red {
  stop-color: var(--apacheRed2);
}

.apache-icon .apache-icon-stop-red3 {
  stop-color: var(--apacheRed3);
}

.apache-icon .apache-icon-stop-red4 {
  stop-color: var(--apacheRed4);
}

.apache-icon .apache-icon-stop-purple {
  stop-color: var(--apachePurple);
}

.apache-icon .apache-icon-stop-light-purple {
  stop-color: var(--apacheLightPurple);
}

.apache-icon .apache-icon-stop-magenta2 {
  stop-color: var(--apacheMagenta2);
}

.apache-icon .apache-icon-fill-red {
  fill: var(--apacheRed);
}

.apache-icon .apache-icon-opacity4 {
  opacity: .4;
}

.apache-icon .nofill {
  fill: none;
}

.nginx-icon {
  fill: var(--nginxGreen);
}

.gulp-icon .gulp-icon-red {
  fill: var(--gulpRed);
}

.bamboo-icon .bamboo-icon-blue {
  fill: var(--bambooBlue);
}

.passport-icon path {
  stroke: var(--black);
}

.linkedin-icon:hover {
  fill: var(--linkedInBlue);
}

.email-icon:hover,
.burger-menu-icon:hover {
  fill: var(--purple);
}

.npm-icon:hover {
  fill: var(--npmRed);
}

.icon-dark .youtube-icon-play {
  fill: var(--white);
}

.youtube-icon:hover .youtube-icon-ellipsis {
  fill: var(--youtubeRed);
}

.social-links {
  flex: 1 0 auto;
}

.social-links > ul {
  display: flex;
  justify-content: space-around;
}

.social-links li {
  margin-bottom: 0;
}

.social-links li:hover {
  cursor: pointer;
}

.social-links a {
  display: inline-block;
}

.icon {
  width: 48px;
  height: 48px;
}

.icon-small {
  width: 24px;
  height: 24px;
}

a > .icon:hover,
a > .icon-small:hover {
  cursor: pointer;
}

.avatar {
  align-self: center;
}

.year {
  flex: 0 0 5rem;
}

.daterange {
  flex: 1 0 auto;
  font-weight: normal;
  margin-bottom: .5rem;
  min-width: 9rem;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.item.m0 {
  margin-bottom: 0;
}

.item.m-column-d-row > .m-row-d-column {
  margin-bottom: var(--defaultPadding);
  align-items: center;
}

.item.m-column-d-row > .m-row-d-column .company-logo {
  margin-left: 2rem;
}

.item.m-column-d-row > .column {
  padding-left: var(--defaultPadding);
}

.item > ul {
  padding-top: 0;
  padding-bottom: 0;
}

.item > ul > li > h5:first-child {
  margin-top: 0;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}

.column {
  flex-direction: column;
}

.fixed-flex {
  flex-grow: 0;
  flex-shrink: 0;
}

.m-row-d-column {
  flex-direction: row;
  display: flex;
}

.m-column-d-row {
  flex-direction: column;
  display: flex;
}

#header {
  display: flex;
  background-color: var(--black);
  position: fixed;
  width: 100%;
  box-shadow: -1 2px 3px 0px var(--gray);
  z-index: 1;
}

#header-social-wrapper {
  display: flex;
  flex: 1 1 100%;
}

#header-social-wrapper {
  display: flex;
  align-items: center;
}

#header-social-wrapper .icon {
  width: 24px;
  height: 24px;
  vertical-align: center;
}

#header-social-wrapper .social-links {
  padding: 0 var(--defaultPadding);
}

#header-social-wrapper .social-links li {
  margin-right: var(--defaultPadding);
}

#burger-menu-nav,
#main-menu {
  border-top: 1px dashed var(--gray);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

#main-menu {
  display: none;
}

#main-menu > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

#burger-menu li.active > a,
#main-menu li.active > a {
  color: var(--purple);
}

#burger-menu-button {
  margin-right: auto;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

#burger-menu-button:hover {
  cursor: pointer;
}

#burger-menu {
  background-color: var(--black);
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
}

#sidebar {
  position: relative;
  display: none;
  justify-content: center;
  z-index: 1;
}

#profile {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

#profile > * {
  margin-bottom: var(--defaultPadding);
}

#profile > *:last-child {
  margin-bottom: 0;
}

#profile-tagline {
  font-size: 1rem;
}

#profile-id {
  font-size: 2rem;
}

#wrapper {
  display: flex;
  flex: 1 0 auto;
}

#content-wrapper {
  display: flex;
  flex: 1 1 75%;
  flex-direction: column;
}

#greeting {
  margin-bottom: var(--defaultPadding);
}

#projects-list .item > .row > .daterange {
  flex-basis: 7rem;
}

@media(min-width: 425px) {
  main {
    box-shadow: var(--boxShadowInsetMinusX);
  }

  .social-links > ul {
    justify-content: flex-start;
  }

  #header-menu-wrapper {
    margin-right: auto;
  }

  .daterange {
    min-width: 12rem;
  }
}

@media(min-width: 625px) {
  #header-social-wrapper {
    display: none;
  }

  #burger-menu-button {
    display: none;
  }

  #main-menu {
    display: flex;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }

  #sidebar {
    display: flex;
    flex: 1 1 17rem;
    animation: fadeIn var(--transitionDuration);
  }

}

@media(max-width: 625px) {
  #sidebar {
    padding-top: 5rem;
  }
}

/**
 * landscape mode
 */
@media(max-width: 768px) {
  main {
    margin-top: 3rem;
  }

  #profile-avatar-wrapper {
    width: 128px;
    height: 128px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .social-links > ul > li {
    margin-left: .5rem;
  }

  .social-links > ul > li:first-of-type {
    margin-left: 0;
  }
}

@media(min-width: 769px) {
  #projects-list .item > .row > .daterange {
    flex-basis: auto;
  }

  .m-row-d-column {
    flex-direction: column;
  }

  .item.m-column-d-row > .m-row-d-column {
    margin-bottom: 0;
    align-items: stretch;
  }

  
  .item.m-column-d-row > .column {
    padding-left: 0;
  }

  .item.m-column-d-row > .m-row-d-column .company-logo {
    margin-left: 0;
  }

  .m-column-d-row {
    flex-direction: row;
  }

  main {
    padding: 0 3rem 3rem 3rem;
  }

  #sidebar {
    flex-basis: 23rem;
  }

  #profile-avatar-wrapper {
    width: 196px;
    height: 196px;
  }

  #profile-tagline {
    font-size: 1.2rem;
  }

  #header {
    position: static;
  }

  .icon {
    width: 48px;
    height: 48px;
  }

  .social-links > ul > li {
    margin-left: .5rem;
  }

  .social-links > ul > li:first-of-type {
    margin-left: 0;
  }
}

@media(min-width: 850px) {
  :root {
    --defaultPadding: 1rem;
  }
}

@media(min-width: 769px) and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

@media(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    width: 48px;
    height: 48px;
  }
}

