<!DOCTYPE html>
<html lang="{{lang}}" ⚡>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <meta name="amp-google-client-id-api" content="googleanalytics">
    <meta name="author" content="Hans-Peter Dietz">
    <!-- INCLUDE_VERSION -->
    <!-- INCLUDE_REVISED -->

    <meta property="og:title" content="{{me.name}} | {{description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://{{domain}}/assets/img/avatar_8x.png" />
    <meta property="og:url" content="https://{{domain}}" />
    <meta property="og:description" name="description" content="{{description}}" />

    <title>{{me.name}} | {{description}}</title>

    <link rel="canonical" href="https://{{domain}}">
    <link rel="shortcut icon" href="https://{{domain}}/assets/img/avatar_2x.png">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script type="application/ld+json" src="haensl.{{lang}}.schema.json"></script>
    <script type="application/ld+json" src="offers.{{lang}}.schema.json"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <!-- INCLUDE_CSS -->
  </head>
  <body>
    <amp-state id="appState">
      <script type="application/json">{
        "site": "{{site}}"
      }</script>
    </amp-state>
    <amp-analytics type="googleanalytics">
      <script type="application/json" src="analytics.{{domain}}.config.json"></script>
    </amp-analytics>
    <amp-sidebar
      id="burger-menu"
      class="p1"
      media="(max-width: 625px)"
      layout="nodisplay">
      <amp-img srcset="/assets/img/avatar_1x.png 24w, /assets/img/avatar_2x.png 48w"
        width="48"
        height="48"
        class="avatar"
        alt="Avatar"></amp-img>
      <h1 class="centering m0 p1">{{ me.name }}</h1>
      <q class="no-text centering small block">{{ me.tagline }}</q>
      <nav id="burger-menu-nav">
        {{> menu }}
      </nav>
      <a
        class="centering"
        id="cta"
        title="{{cta.hint}}"
        href="{{{cta.href}}}">{{cta.text}}</a>
    </amp-sidebar>
    <div id="wrapper">
      <div id="content-wrapper">
        <header id="header"
          class="p1">
          <button id="burger-menu-button"
            on="tap:burger-menu.toggle"
            title="Open the menu.">
            <svg class="burger-menu-icon icon-light"
              width="24"
              height="24"
              src="burger-menu-icon.svg"></svg>
          </button>
          <div id="header-menu-wrapper">
            <nav id="main-menu" class="bold">
              {{> menu }}
            </nav>
            <nav id="language-menu">
              {{> language-menu }}
            </nav>
          </div>
          <div id="header-social-wrapper">
            {{> social-nav-small }}
            <h4 class="p0 m0"
              id="header-tagline">{{me.name}} &mdash; &ldquo;{{me.tagline}}&rdquo;</h4>
            <amp-img srcset="/assets/img/avatar_1x.png 24w, /assets/img/avatar_2x.png 48w"
              width="32"
              height="32"
              class="avatar"
              alt="Avatar"></amp-img>
          </div>
        </header>
        <main>
        {{> view}}
        </main>
      </div>
      <aside id="sidebar"
        class="p1">
        <div id="profile">
          <div id="profile-avatar-wrapper">
            <amp-img srcset="/assets/img/avatar_4x.png 128w, /assets/img/avatar_8x.png 256w"
              width="196"
              height="196"
              class="avatar"
              layout="responsive"
              alt="Avatar"></amp-img>
          </div>
          <h1 id="profile-id"
              class="centering">{{me.name}}</h1>
          <q id="profile-tagline"
             class="centering">{{me.tagline}}</q>
          {{> social-nav }}
          <a
            class="centering"
            href="{{{cta.href}}}"
            title="{{cta.hint}}"
            id="cta"
          >{{cta.text}}</a>
        </div>
      </aside>
    </div>
    <footer class="centering p1 row hcentering vcentering fixed-flex">
      <nav id="footer-menu">
        {{> footer-menu }}
      </nav>
      <p class="m0001 small no-text p1">&copy; {{year}} {{me.fullname}}</p>
    </footer>
  </body>
</html>
